In [2]:
# ÔºÅpip install functorch
import torch
from torch import nn
from torch import optim
from torch.utils.data import DataLoader
from torchvision import datasets
from torchvision.transforms import ToTensor
from torch.autograd import Variable
import pandas as pd
import scipy
from scipy import stats
import numpy as np
from os import path

In [3]:
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

Using cpu device

In [34]:
MA_DAYS = 25
trading_days_in_year = 262

# Import raw data from yahoo finance

In [7]:
from google.colab import drive
drive.mount('/content/drive')
data_files_path_prefix = "/content/drive/MyDrive"
data_files_path = "ML-Portfolio-Data"
data_files_path = path.join(data_files_path_prefix, data_files_path)

high_risk_file = 'SPY.csv'
low_risk_file = 'O9P.SI.csv'
high_risk = pd.read_csv(path.join(data_files_path, high_risk_file))
low_risk = pd.read_csv(path.join(data_files_path, low_risk_file))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Read files from the same directory
#high_risk = pd.read_csv('SPY.csv')
#low_risk = pd.read_csv('O9P.SI.csv')

In [8]:
high_risk = high_risk[:1008]
low_risk = low_risk[:1008]
print(high_risk.shape)
print(low_risk.shape)

(1008, 7)
(1008, 7)

In [9]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-28,245.169998,245.199997,244.089996,244.570007,224.240860,40565600
1,2017-08-29,243.059998,245.149994,242.929993,244.850006,224.497574,51135700
2,2017-08-30,244.830002,246.320007,244.619995,246.009995,225.561142,62030800
3,2017-08-31,246.720001,247.770004,246.050003,247.490005,226.918106,103803900
4,2017-09-01,247.919998,248.330002,247.669998,247.839996,227.239059,62007000

In [10]:
low_risk.head()

         Date   Open   High    Low  Close  Adj Close  Volume
0  2017-08-28  10.90  10.90  10.88  10.88      10.88    7400
1  2017-08-29  10.89  10.90  10.89  10.90      10.90    1400
2  2017-08-30  10.94  10.94  10.94  10.94      10.94    5300
3  2017-08-31  10.92  10.96  10.92  10.93      10.93   30700
4  2017-09-04  10.89  10.89  10.80  10.83      10.83   59800

# ML Portfolio

## Enrich data

### Calculate daily returns

In [11]:
def add_daily_return(market_data):
    market_data["Daily Return"]  = market_data['Close'] - market_data['Open']

add_daily_return(high_risk)
add_daily_return(low_risk)

### Calculate moving average (MA) of daily returns

In [12]:
def add_moving_average(market_data, ma_days):
    temp_vars = []

    # df = market_data
    for i in range(0,ma_days):
        temp_var = "M_{0}".format(i)
        market_data[temp_var] = market_data["Daily Return"].shift(i)
        temp_vars.append(temp_var)

    market_data["MA"] = market_data[temp_vars].mean(axis=1)

    for i in range(0,ma_days):
        temp_var = "M_{0}".format(i)
        market_data.drop(temp_var, axis = 1, inplace = True)

add_moving_average(high_risk, MA_DAYS)
add_moving_average(low_risk, MA_DAYS)

In [ ]:
high_risk.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA
1003,2021-08-23,445.160004,448.230011,443.440002,447.260010,440.990021,54973000,2.100006,0.880400
1004,2021-08-24,447.970001,448.540009,447.420013,447.970001,441.690033,38744700,0.000000,0.665200
1005,2021-08-25,448.170013,449.459991,447.769989,448.910004,442.616913,40529700,0.739991,0.606400
1006,2021-08-26,448.609985,448.859985,446.160004,446.260010,440.004089,57829600,-2.349975,0.483601
1007,2021-08-27,447.119995,450.649994,447.059998,450.250000,443.938110,77235100,3.130005,0.512001

In [13]:
low_risk.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA
1003,2021-08-24,9.83,9.86,9.81,9.84,9.84,19960,0.01,-0.0316
1004,2021-08-25,9.90,9.90,9.85,9.86,9.86,102205,-0.04,-0.0320
1005,2021-08-26,9.89,9.89,9.86,9.86,9.86,66520,-0.03,-0.0296
1006,2021-08-27,9.90,9.90,9.86,9.88,9.88,68015,-0.02,-0.0308
1007,2021-08-30,9.79,9.79,9.77,9.78,9.78,1017465,-0.01,-0.0312

### Calculate ROE

In [14]:
def add_roe(market_data):    
    market_data["Prev Close"] = market_data["Close"].shift(1)
    market_data["ROE"] = (market_data["Close"] - market_data["Prev Close"]) / market_data['Prev Close']

add_roe(high_risk)
add_roe(low_risk)

In [15]:
def add_roe_binary(market_data, tau=-0.005):    
    market_data["ROE Binary"] = np.where(market_data["ROE"].values < tau, 0, 1)

add_roe_binary(high_risk)
add_roe_binary(low_risk)

In [16]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
0,2017-08-28,245.169998,245.199997,244.089996,244.570007,224.240860,40565600,-0.599991,-0.599991,NaN,NaN,1
1,2017-08-29,243.059998,245.149994,242.929993,244.850006,224.497574,51135700,1.790008,0.595009,244.570007,0.001145,1
2,2017-08-30,244.830002,246.320007,244.619995,246.009995,225.561142,62030800,1.179993,0.790003,244.850006,0.004738,1
3,2017-08-31,246.720001,247.770004,246.050003,247.490005,226.918106,103803900,0.770004,0.785004,246.009995,0.006016,1
4,2017-09-01,247.919998,248.330002,247.669998,247.839996,227.239059,62007000,-0.080002,0.612002,247.490005,0.001414,1

In [17]:
low_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
0,2017-08-28,10.90,10.90,10.88,10.88,10.88,7400,-0.02,-0.020000,NaN,NaN,1
1,2017-08-29,10.89,10.90,10.89,10.90,10.90,1400,0.01,-0.005000,10.88,0.001838,1
2,2017-08-30,10.94,10.94,10.94,10.94,10.94,5300,0.00,-0.003333,10.90,0.003670,1
3,2017-08-31,10.92,10.96,10.92,10.93,10.93,30700,0.01,0.000000,10.94,-0.000914,1
4,2017-09-04,10.89,10.89,10.80,10.83,10.83,59800,-0.06,-0.012000,10.93,-0.009149,0

## Build feature space

In [18]:
def remove_for_ma(market_data, ma_days):
  return market_data[ma_days:]

high_risk = remove_for_ma(high_risk, MA_DAYS)
low_risk = remove_for_ma(low_risk, MA_DAYS)

In [19]:
print(high_risk.shape)

(983, 12)

In [20]:
def standardize_columns(market_data, columns):
  for column in columns:
    market_data[column] = market_data[column]/market_data[column].std()

standardize_columns(high_risk, ['Volume', 'Daily Return', 'MA'])
standardize_columns(low_risk, ['Volume', 'Daily Return', 'MA'])

In [21]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
25,2017-10-03,252.320007,252.889999,252.229996,252.860001,232.992355,1.367891,0.208144,0.708710,252.320007,0.002140,1
26,2017-10-04,252.690002,253.440002,252.559998,253.160004,233.268799,1.145610,0.181166,0.583476,252.860001,0.001186,1
27,2017-10-05,253.539993,254.679993,253.199997,254.660004,234.650909,1.300584,0.431716,0.577785,253.160004,0.005925,1
28,2017-10-06,254.149994,254.699997,253.850006,254.369995,234.383713,1.651169,0.084801,0.525604,254.660004,-0.001139,1
29,2017-10-09,254.630005,254.699997,253.649994,253.949997,233.996689,0.733043,-0.262114,0.468679,254.369995,-0.001651,1

In [22]:
low_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
25,2017-10-03,10.86,10.87,10.86,10.86,10.86,0.659605,0.000000,-0.383962,10.85,0.000922,1
26,2017-10-04,10.86,10.86,10.86,10.86,10.86,0.000000,0.000000,-0.393561,10.86,0.000000,1
27,2017-10-05,10.89,10.89,10.88,10.88,10.88,0.172782,-0.045821,-0.403161,10.86,0.001842,1
28,2017-10-06,10.89,10.89,10.87,10.88,10.88,0.371247,-0.045821,-0.422359,10.88,0.000000,1
29,2017-10-09,10.88,10.88,10.85,10.88,10.88,0.254503,0.000000,-0.364764,10.88,0.000000,1

In [23]:
def to_X_train_features(low_risk, high_risk):
  high_risk_train = high_risk[:1000]
  low_risk_train = low_risk[:1000]
  return np.vstack((high_risk_train['Daily Return'], high_risk_train['MA'], high_risk_train['Volume'], low_risk_train['Daily Return'], low_risk_train['MA'], low_risk_train['Volume']))

X = to_X_train_features(low_risk, high_risk).T
print(X.shape, X)

(983, 6) [[ 0.20814449  0.7087102   1.36789127  0.         -0.38396238  0.65960516]
 [ 0.18116558  0.58347574  1.14561011  0.         -0.39356144  0.        ]
 [ 0.43171613  0.57778499  1.30058409 -0.04582138 -0.4031605   0.17278153]
 ...
 [ 0.28523475  1.43829291  0.82981674 -0.13746413 -0.71033041  0.77658292]
 [-0.90581443  1.1470315   1.18401988 -0.09164275 -0.73912759  0.79403619]
 [ 1.20648249  1.2143914   1.58133367 -0.04582138 -0.74872665 11.87832143]]

In [24]:
def to_Y_train_features(low_risk, high_risk):
  high_risk_train = high_risk[0:1000]
  return high_risk_train['ROE Binary'].values

Y = to_Y_train_features(low_risk, high_risk)
print(Y.shape, Y)

(983,) [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 0 1 1 0 0 1 0 0 1 1 1 1 1 1 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0
 0 1 1 0 1 1 0 0 1 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 1 1 0 1 0 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 0
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1 0 0
 1 0 1 1 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 0 1 1 1 1 1 1 0
 1 0 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1
 0 0 1 1 0 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 0 1 1 1 0 0 1 0 1 1 1 0 1 1 0 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 0 0 0 1 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 0 1
 0 1 1 1 1 0 1 0 1 1 0 0 1 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1
 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0
 1 1 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 0 1 0 1 0 1
 1 1 1 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1
 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 0 0 1 0 0 0 1 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 1 1 0 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1]

## Build graph

In [25]:
X_tensor = torch.from_numpy(X)
print(type(X), X.shape, X_tensor.size())
Y_tensor = torch.from_numpy(Y).double()
print(type(Y), Y.shape, Y_tensor.size())

<class 'numpy.ndarray'> (983, 6) torch.Size([983, 6])
<class 'numpy.ndarray'> (983,) torch.Size([983])

In [26]:
a = torch.randn((6), requires_grad=True, dtype=torch.double)
b = torch.randn((6), requires_grad=True, dtype=torch.double)
print(a, a.size(), b, b.size())

tensor([ 0.5977, -0.4652,  0.2527, -1.6584, -0.9406,  0.0486],
       dtype=torch.float64, requires_grad=True) torch.Size([6]) tensor([-1.9688, -0.5155,  0.4751, -0.7596,  0.2507,  0.4231],
       dtype=torch.float64, requires_grad=True) torch.Size([6])

In [27]:
lr = 1e-1
n_epochs = 500
torch.manual_seed(42)
lambda1 = 1e-3 #0.5
lambda2 = 1e-3 #0.5

loss_fn = nn.BCELoss()
optimizer = optim.SGD([a, b], lr=lr)

In [28]:
for epoch in range(n_epochs):
  
    yhat = torch.exp(torch.matmul(X_tensor, a)) / (torch.exp (torch.matmul(X_tensor, a)) + torch.exp(torch.matmul(X_tensor, b)))

    loss = loss_fn(yhat, Y_tensor)
    loss.backward()   

    if epoch % 10 == 0:
      print(f"Epoch: {epoch}. Loss: {loss}")

    optimizer.step()
    optimizer.zero_grad()
    
print(a, b)

Epoch: 0. Loss: 0.6592477170372365
Epoch: 10. Loss: 0.47120023377248194
Epoch: 20. Loss: 0.43465862867696153
Epoch: 30. Loss: 0.42363747617787906
Epoch: 40. Loss: 0.4178344013399194
Epoch: 50. Loss: 0.41340467502858896
Epoch: 60. Loss: 0.4095647226881732
Epoch: 70. Loss: 0.40615289110784175
Epoch: 80. Loss: 0.40314812819748197
Epoch: 90. Loss: 0.4005598692056115
Epoch: 100. Loss: 0.39839307383707595
Epoch: 110. Loss: 0.396634419578538
Epoch: 120. Loss: 0.3952499588880977
Epoch: 130. Loss: 0.3941901106778992
Epoch: 140. Loss: 0.39339780367711785
Epoch: 150. Loss: 0.3928162712144505
Epoch: 160. Loss: 0.3923945395399252
Epoch: 170. Loss: 0.39209018750830277
Epoch: 180. Loss: 0.3918699056302546
Epoch: 190. Loss: 0.3917086909106946
Epoch: 200. Loss: 0.3915884205986386
Epoch: 210. Loss: 0.3914963085014207
Epoch: 220. Loss: 0.39142351582671797
Epoch: 230. Loss: 0.3913640227722101
Epoch: 240. Loss: 0.39131377050411037
Epoch: 250. Loss: 0.3912700379509145
Epoch: 260. Loss: 0.39123100383882153
Epoch: 270. Loss: 0.391195446252509
Epoch: 280. Loss: 0.39116254015285157
Epoch: 290. Loss: 0.39113172264292656
Epoch: 300. Loss: 0.3911026040993273
Epoch: 310. Loss: 0.39107490987459315
Epoch: 320. Loss: 0.3910484421498031
Epoch: 330. Loss: 0.3910230549663373
Epoch: 340. Loss: 0.3909986378356972
Epoch: 350. Loss: 0.3909751049196676
Epoch: 360. Loss: 0.39095238782776354
Epoch: 370. Loss: 0.39093043076918155
Epoch: 380. Loss: 0.39090918724446755
Epoch: 390. Loss: 0.39088861775122385
Epoch: 400. Loss: 0.3908686881641093
Epoch: 410. Loss: 0.39084936856867347
Epoch: 420. Loss: 0.39083063240513777
Epoch: 430. Loss: 0.39081245582740815
Epoch: 440. Loss: 0.3907948172143383
Epoch: 450. Loss: 0.39077769679079766
Epoch: 460. Loss: 0.3907610763294816
Epoch: 470. Loss: 0.3907449389132569
Epoch: 480. Loss: 0.3907292687437024
Epoch: 490. Loss: 0.390714050985455
tensor([ 0.5097, -0.3188,  0.7309, -1.4732, -0.4114,  0.4493],
       dtype=torch.float64, requires_grad=True) tensor([-1.8808, -0.6619, -0.0032, -0.9448, -0.2785,  0.0224],
       dtype=torch.float64, requires_grad=True)

## Build efficient frontier

In [29]:
with torch.no_grad():
  y_test = torch.exp(torch.matmul(X_tensor, a)) / (torch.exp (torch.matmul(X_tensor, a)) + torch.exp(torch.matmul(X_tensor, b)))
  print(y_test)

tensor([8.8869e-01, 8.2149e-01, 9.1185e-01, 8.6223e-01, 5.5711e-01, 7.2401e-01,
        8.0939e-01, 7.4679e-01, 7.3119e-01, 7.3294e-01, 8.8141e-01, 6.4151e-01,
        8.8367e-01, 8.7304e-01, 4.8700e-01, 7.8756e-01, 7.2592e-01, 6.9552e-01,
        9.3401e-01, 7.8089e-01, 7.0121e-01, 6.2257e-01, 7.6011e-01, 8.4673e-01,
        8.0370e-01, 6.9437e-01, 8.0630e-01, 8.8200e-01, 8.1306e-01, 8.6986e-01,
        8.0853e-01, 7.5239e-01, 8.9742e-01, 7.4033e-01, 8.7413e-01, 8.9467e-01,
        6.7541e-01, 6.4785e-01, 6.8868e-01, 9.7522e-01, 7.3943e-01, 9.6820e-01,
        9.2887e-01, 4.1184e-01, 8.1581e-01, 7.7555e-01, 7.9379e-01, 8.6409e-01,
        8.0814e-01, 7.5751e-01, 8.0312e-01, 5.4009e-01, 9.6800e-01, 8.0866e-01,
        4.0574e-01, 5.3134e-01, 7.6104e-01, 7.3392e-01, 6.8984e-01, 6.8919e-01,
        7.6142e-01, 5.1307e-01, 9.2609e-01, 9.3885e-01, 8.5677e-01, 9.1113e-01,
        7.9976e-01, 7.2501e-01, 7.8919e-01, 9.2353e-01, 9.4749e-01, 3.7209e-01,
        9.7053e-01, 7.8550e-01, 9.4652e-01, 9.8046e-01, 9.0083e-01, 8.1059e-01,
        7.1196e-01, 9.8691e-01, 6.2960e-01, 8.2826e-01, 8.3007e-01, 8.9090e-01,
        2.2675e-01, 1.0404e-02, 1.0000e+00, 8.8581e-01, 4.0680e-03, 9.8858e-01,
        9.7066e-01, 9.4443e-01, 9.9868e-01, 9.4553e-01, 9.5899e-01, 6.6667e-01,
        4.3521e-01, 6.9486e-01, 9.8228e-01, 9.5388e-01, 1.0614e-01, 8.2395e-02,
        2.2512e-01, 9.9501e-01, 9.9617e-01, 6.8800e-01, 9.6609e-01, 7.9889e-01,
        9.9021e-01, 6.4405e-01, 2.3594e-01, 3.1064e-01, 5.9493e-01, 8.1033e-01,
        3.1624e-01, 7.2769e-01, 5.3450e-01, 1.7172e-01, 3.3005e-02, 9.8769e-01,
        2.0522e-02, 6.7068e-01, 9.4849e-01, 6.2331e-02, 9.3855e-01, 9.9953e-01,
        7.2734e-01, 2.5831e-01, 6.8404e-01, 8.5969e-01, 7.4453e-01, 7.3698e-01,
        1.8838e-01, 6.3211e-01, 7.3445e-01, 4.7876e-01, 4.9901e-01, 2.4538e-01,
        4.3078e-01, 3.5161e-02, 8.4990e-01, 8.6346e-01, 4.9600e-01, 1.6897e-01,
        8.5022e-01, 3.9878e-01, 9.0873e-01, 9.9537e-01, 7.4099e-01, 7.9971e-01,
        9.3205e-01, 9.3352e-01, 8.3294e-01, 6.6354e-01, 7.0063e-01, 8.8111e-01,
        7.3153e-01, 6.8203e-01, 8.0153e-01, 3.9087e-01, 9.5522e-01, 7.7096e-01,
        7.3200e-01, 6.6683e-01, 9.6787e-01, 6.7197e-01, 9.6678e-01, 8.5363e-01,
        7.7537e-01, 9.4751e-01, 7.5750e-01, 9.4589e-01, 8.4001e-01, 7.9851e-01,
        6.0386e-01, 7.5500e-01, 9.2422e-01, 8.9275e-01, 9.5749e-01, 7.0015e-01,
        4.1339e-01, 5.2795e-01, 4.7502e-01, 7.3787e-01, 2.6463e-01, 9.3632e-01,
        6.7081e-01, 9.6625e-01, 2.6107e-01, 8.6490e-01, 9.6600e-01, 8.9434e-01,
        7.8785e-01, 7.2201e-01, 9.8417e-01, 7.6686e-01, 6.1554e-01, 9.4457e-01,
        7.7306e-01, 9.9377e-01, 7.7693e-01, 8.2992e-01, 7.4230e-01, 9.7784e-01,
        7.5547e-01, 2.7919e-01, 3.9666e-01, 8.4991e-01, 5.9784e-01, 9.8363e-01,
        9.4746e-01, 8.9832e-01, 7.6409e-01, 7.4864e-01, 6.1363e-01, 7.6060e-01,
        4.8144e-01, 8.5006e-01, 7.7790e-01, 8.6089e-01, 9.0614e-01, 7.0894e-01,
        7.7566e-01, 7.4710e-01, 6.7363e-01, 8.8577e-01, 8.7354e-01, 6.3300e-01,
        9.0769e-01, 6.2049e-01, 8.7157e-01, 7.9091e-01, 7.3310e-01, 6.8101e-01,
        8.6699e-01, 6.0559e-01, 9.2701e-01, 7.0552e-01, 8.0720e-01, 7.2232e-01,
        4.9427e-01, 9.2521e-01, 7.6534e-01, 9.3173e-01, 6.9019e-01, 6.5904e-01,
        5.1380e-01, 5.7172e-01, 7.7448e-01, 8.6018e-01, 6.6035e-01, 6.7515e-01,
        5.4482e-01, 4.7729e-01, 4.5402e-01, 8.6754e-01, 7.7705e-01, 6.6742e-03,
        2.9558e-01, 8.0790e-01, 4.7351e-01, 9.9200e-01, 7.5726e-01, 1.9738e-01,
        6.4688e-01, 2.1326e-01, 9.8183e-01, 4.1444e-03, 9.7700e-01, 8.4645e-01,
        4.2312e-02, 9.9562e-01, 7.5155e-01, 9.2026e-01, 1.5941e-01, 7.4417e-01,
        8.5759e-01, 9.8362e-01, 6.8836e-01, 5.2019e-01, 3.0619e-02, 4.6712e-01,
        9.5611e-02, 9.9716e-01, 9.7448e-01, 9.6538e-02, 6.1780e-01, 4.9787e-01,
        6.0021e-01, 9.2785e-01, 9.4968e-01, 9.9834e-01, 8.4622e-01, 9.6912e-01,
        8.3861e-01, 1.0564e-02, 9.9880e-01, 4.1554e-02, 9.4409e-01, 1.6391e-01,
        3.4155e-01, 5.1577e-01, 2.4509e-01, 1.1483e-01, 3.3186e-01, 2.4691e-01,
        6.3287e-01, 8.0599e-02, 3.6460e-02, 9.9999e-01, 9.9942e-01, 4.9738e-01,
        8.7643e-01, 9.9523e-01, 1.0543e-01, 9.9728e-01, 9.2087e-01, 6.9685e-01,
        7.5120e-01, 9.6341e-01, 8.7728e-01, 7.9584e-01, 9.6987e-01, 7.8299e-01,
        9.8494e-01, 9.6576e-01, 5.1696e-01, 7.4706e-01, 8.2750e-01, 8.8471e-01,
        9.4234e-01, 7.4270e-01, 9.9612e-01, 9.9400e-01, 8.8438e-01, 9.8448e-01,
        9.4374e-01, 8.2991e-01, 7.8404e-01, 9.7100e-01, 7.5049e-01, 9.7880e-01,
        8.4386e-01, 9.2202e-01, 9.5195e-01, 9.3752e-01, 9.0353e-01, 7.8149e-01,
        9.2430e-01, 5.7706e-01, 8.3412e-01, 8.7444e-01, 8.1411e-01, 8.4362e-01,
        5.1644e-01, 7.1338e-01, 4.6202e-01, 4.8150e-01, 9.4538e-01, 9.9580e-01,
        8.7286e-01, 9.2130e-01, 7.4067e-01, 9.0713e-01, 8.7014e-01, 6.5770e-01,
        6.9894e-01, 9.9505e-01, 1.5814e-01, 8.3155e-01, 7.6869e-01, 4.3450e-01,
        7.6926e-01, 7.8492e-01, 9.0048e-01, 6.3708e-01, 6.1087e-01, 7.4420e-01,
        9.1365e-01, 8.1426e-01, 6.8374e-01, 9.2905e-01, 8.1074e-01, 8.3073e-01,
        6.9366e-01, 5.2171e-01, 2.9137e-01, 7.0759e-01, 8.5633e-01, 9.4892e-01,
        5.9260e-01, 8.2116e-01, 8.7106e-01, 8.3049e-01, 9.0557e-01, 1.7145e-01,
        6.7757e-01, 9.0340e-01, 9.9339e-01, 5.5666e-01, 8.1985e-01, 9.6354e-01,
        9.8521e-01, 6.7576e-01, 9.4436e-01, 9.9131e-01, 9.5833e-01, 9.2932e-01,
        7.8368e-01, 8.5736e-01, 7.9891e-01, 7.3039e-01, 6.0942e-01, 2.0884e-01,
        7.7387e-01, 7.6400e-01, 6.0106e-01, 7.6442e-01, 9.8882e-01, 8.7896e-01,
        9.6017e-01, 9.6400e-01, 7.1334e-01, 2.9963e-01, 7.9913e-01, 7.5617e-01,
        7.3971e-01, 6.4075e-01, 9.1878e-01, 8.6774e-01, 8.7508e-01, 7.7930e-01,
        5.8525e-01, 1.7194e-01, 3.7552e-01, 6.5497e-01, 7.8340e-01, 5.4135e-01,
        8.5596e-01, 9.0227e-01, 8.6047e-01, 6.5734e-01, 9.1520e-01, 8.1176e-01,
        6.8753e-01, 8.1545e-01, 5.2930e-01, 4.1059e-01, 2.0557e-01, 9.2422e-01,
        1.4326e-01, 7.0912e-01, 8.1082e-01, 9.5061e-01, 6.0455e-01, 8.7610e-01,
        6.0018e-01, 8.4612e-01, 1.6231e-01, 3.9303e-01, 6.3048e-01, 1.9510e-01,
        9.7272e-01, 9.9676e-01, 9.9703e-01, 5.9559e-01, 2.9465e-01, 9.9709e-01,
        1.3905e-01, 7.9605e-01, 9.7479e-01, 7.2085e-01, 3.0998e-01, 6.4567e-01,
        4.6373e-01, 2.9737e-02, 8.3555e-01, 1.5105e-01, 9.5736e-01, 8.3153e-01,
        2.6427e-01, 7.1393e-01, 8.3858e-01, 8.8659e-01, 6.4604e-01, 4.7445e-01,
        8.3509e-01, 9.4097e-01, 7.5734e-01, 1.0000e+00, 8.7149e-01, 8.9850e-01,
        9.0878e-01, 8.1405e-01, 5.3189e-01, 8.8268e-01, 2.3333e-01, 9.6569e-01,
        7.3303e-01, 4.2065e-01, 9.2512e-01, 1.1024e-01, 3.3372e-01, 9.8667e-01,
        9.9081e-01, 7.9982e-01, 4.5150e-01, 8.9440e-01, 9.6942e-01, 9.0868e-01,
        7.9124e-01, 9.6079e-01, 8.1283e-01, 7.4123e-01, 5.8826e-01, 8.4506e-01,
        3.0023e-01, 8.0606e-01, 4.5323e-01, 9.1060e-01, 7.0920e-01, 7.2392e-01,
        7.9638e-01, 5.6045e-01, 9.2058e-01, 6.2640e-01, 5.7592e-01, 7.4882e-01,
        7.9760e-01, 8.6990e-01, 8.3516e-01, 7.7445e-01, 9.0803e-01, 8.7347e-01,
        8.6758e-01, 8.0564e-01, 6.3150e-01, 7.0994e-01, 6.8480e-01, 6.9892e-01,
        9.1668e-01, 8.1856e-01, 8.5593e-01, 5.7536e-01, 2.2425e-01, 9.2375e-01,
        8.7458e-01, 6.8444e-01, 8.4134e-01, 5.9394e-01, 6.9120e-01, 8.1815e-01,
        9.8401e-01, 8.6735e-01, 9.0085e-01, 7.1933e-01, 6.3877e-01, 9.2057e-01,
        9.3602e-01, 6.8283e-01, 5.4704e-01, 8.6230e-01, 5.1389e-01, 3.2075e-01,
        9.1043e-01, 9.4477e-01, 9.4526e-01, 9.8205e-01, 6.6936e-01, 9.5327e-01,
        8.4344e-01, 4.3068e-01, 9.3088e-01, 7.9383e-01, 9.2398e-01, 9.1983e-01,
        9.1454e-01, 8.7892e-01, 6.4626e-01, 9.2265e-01, 1.7774e-01, 8.8823e-01,
        9.5289e-01, 5.4900e-01, 9.9162e-01, 5.8999e-02, 8.8845e-01, 9.2213e-01,
        8.8687e-01, 7.5466e-01, 6.5219e-01, 9.8450e-01, 5.6206e-01, 8.0922e-01,
        9.0064e-01, 7.9796e-01, 7.8524e-01, 8.2382e-01, 6.7720e-01, 5.0284e-01,
        8.5717e-01, 6.6507e-04, 5.2792e-01, 2.1767e-02, 1.0000e+00, 1.0000e+00,
        1.7898e-02, 9.9992e-01, 6.1848e-01, 9.9930e-01, 9.7616e-01, 9.9962e-01,
        5.8700e-01, 6.3213e-02, 9.9998e-01, 9.7938e-01, 1.0000e+00, 9.9990e-01,
        9.9829e-01, 4.2465e-04, 8.8513e-01, 9.9997e-01, 9.9911e-01, 1.0000e+00,
        9.7494e-01, 9.9983e-01, 7.5345e-01, 9.2254e-01, 9.9996e-01, 8.3553e-01,
        9.9996e-01, 1.2649e-02, 9.9978e-01, 9.8606e-01, 9.0613e-01, 9.9688e-01,
        9.3754e-01, 9.6266e-01, 9.8854e-01, 9.0911e-01, 2.8952e-01, 9.7996e-01,
        7.6016e-01, 9.7585e-01, 9.8944e-01, 8.0810e-02, 9.8160e-01, 9.3349e-01,
        7.5564e-01, 9.9096e-01, 8.7453e-01, 6.9629e-02, 7.2843e-01, 8.9812e-01,
        9.5574e-01, 4.4044e-03, 8.6994e-02, 9.9911e-01, 9.9404e-01, 9.6926e-01,
        2.9323e-01, 9.2520e-01, 2.9338e-01, 8.6223e-01, 1.9596e-01, 9.6023e-01,
        4.7425e-01, 9.6670e-01, 9.4514e-01, 9.7389e-01, 9.6286e-01, 8.0922e-01,
        9.8997e-01, 9.9034e-01, 8.7117e-01, 3.6063e-01, 1.0414e-03, 3.5135e-01,
        9.9998e-01, 3.6639e-01, 3.0706e-01, 9.5816e-01, 4.0464e-02, 9.7387e-01,
        3.8284e-01, 2.5273e-02, 9.9256e-01, 1.7968e-02, 9.7739e-01, 9.9612e-01,
        9.1657e-01, 2.8161e-01, 8.2495e-01, 3.8448e-01, 9.0002e-01, 1.9167e-01,
        9.7589e-01, 2.1799e-02, 9.9788e-01, 6.1321e-01, 8.0507e-01, 7.2783e-01,
        9.7484e-01, 3.4511e-01, 9.5326e-01, 1.1100e-01, 7.8490e-01, 9.1079e-01,
        4.3029e-01, 9.7479e-01, 9.6636e-01, 9.3566e-01, 8.4022e-01, 9.6878e-01,
        8.3100e-01, 9.7617e-01, 9.2807e-01, 8.3112e-01, 9.8402e-02, 9.6336e-01,
        8.0320e-01, 8.2413e-01, 7.5425e-01, 8.0379e-01, 4.4581e-01, 9.8024e-01,
        9.5751e-01, 8.8121e-01, 9.4002e-01, 9.7712e-01, 8.0204e-01, 9.3604e-01,
        7.8717e-01, 9.7732e-01, 9.9145e-01, 8.5038e-04, 2.8712e-01, 2.2504e-01,
        9.7356e-01, 2.1025e-03, 4.3847e-01, 8.3496e-01, 3.8309e-01, 1.9846e-01,
        9.6195e-01, 4.2463e-02, 9.1566e-01, 9.2649e-01, 1.1108e-03, 9.5529e-01,
        9.9933e-01, 8.0585e-01, 2.2819e-01, 9.8349e-01, 5.7048e-01, 9.4280e-01,
        9.7635e-01, 2.2126e-02, 9.3134e-01, 7.3060e-01, 8.5598e-01, 9.7656e-01,
        3.1439e-01, 1.2919e-01, 9.8960e-01, 5.1598e-01, 6.2184e-03, 7.2451e-01,
        5.9444e-01, 9.3758e-01, 6.9685e-01, 2.5508e-01, 3.7415e-01, 4.3267e-02,
        9.8640e-01, 5.0285e-01, 7.5519e-01, 9.7413e-01, 9.8495e-01, 9.3452e-01,
        8.1846e-01, 1.6850e-03, 8.2189e-01, 6.8294e-01, 1.7711e-01, 9.6500e-01,
        8.9947e-01, 7.4666e-01, 2.4303e-02, 9.3387e-01, 2.1443e-01, 7.6551e-01,
        9.7598e-01, 5.7745e-01, 5.9740e-01, 5.9499e-01, 7.8874e-01, 9.1833e-01,
        7.7349e-01, 9.6960e-01, 7.1461e-01, 9.5873e-01, 1.0097e-01, 8.8497e-01,
        9.0727e-01, 7.4953e-02, 9.5948e-01, 8.5117e-01, 8.3572e-01, 6.5970e-01,
        9.9078e-01, 5.4736e-01, 6.0648e-01, 8.0545e-01, 7.8534e-01, 2.9734e-01,
        6.8822e-01, 9.6795e-01, 1.4426e-02, 9.8542e-01, 9.9606e-01, 9.8884e-01,
        9.2368e-01, 8.9763e-01, 7.5524e-01, 9.1461e-01, 3.1654e-01, 7.8100e-01,
        8.6951e-01, 9.7653e-01, 7.0017e-01, 8.6984e-01, 9.3538e-01, 3.6821e-01,
        3.3910e-01, 9.5524e-01, 4.5194e-02, 9.9022e-01, 9.8806e-01, 7.0007e-01,
        9.9958e-01, 6.3414e-01, 8.8257e-01, 9.5863e-01, 5.9994e-01, 6.7087e-01,
        9.6633e-01, 3.6565e-01, 9.4332e-01, 9.1501e-01, 8.2618e-01, 7.4867e-01,
        9.8692e-01, 9.9855e-01, 5.2950e-03, 2.6994e-01, 9.9655e-01, 2.0197e-01,
        9.3233e-02, 1.8684e-01, 9.9705e-01, 2.9443e-01, 9.6596e-01, 8.3977e-01,
        9.3872e-01, 9.4147e-01, 9.6388e-01, 4.2511e-01, 9.8587e-01, 2.7669e-01,
        8.0354e-01, 9.7096e-01, 2.2342e-01, 1.3330e-01, 9.9465e-01, 9.9813e-01,
        9.5806e-01, 7.9176e-01, 9.4209e-01, 9.7538e-01, 9.8974e-01, 8.0603e-01,
        8.7561e-01, 8.5861e-01, 9.8892e-01, 9.0811e-01, 9.4428e-01, 6.9770e-01,
        9.8084e-01, 8.7758e-01, 7.7166e-01, 5.9432e-01, 9.9757e-01, 2.0890e-01,
        9.9697e-01, 8.4447e-01, 8.9188e-01, 7.9193e-01, 8.4316e-01, 9.2527e-01,
        6.0052e-01, 9.0166e-01, 4.3568e-01, 9.9252e-01, 9.7571e-01, 6.8458e-02,
        9.6771e-01, 4.2888e-02, 9.9306e-01, 9.9498e-01, 9.0569e-01, 9.2722e-02,
        9.9530e-01, 9.9053e-01, 3.7100e-01, 9.3443e-01, 2.7514e-01, 7.2450e-01,
        5.6031e-01, 7.1942e-01, 2.1844e-01, 6.9983e-01, 8.7644e-01, 9.5156e-01,
        6.2592e-01, 7.0853e-01, 3.5741e-01, 9.5342e-01, 6.8203e-01, 7.9935e-01,
        5.8998e-01, 3.7400e-01, 9.0112e-01, 4.5142e-01, 9.9226e-01, 9.7225e-01,
        6.4235e-01, 9.6540e-01, 8.3199e-01, 7.5850e-01, 6.2743e-01, 9.2551e-01,
        9.3819e-01, 9.6323e-01, 6.6487e-01, 9.1174e-01, 9.8761e-01, 9.9298e-01,
        9.4874e-01, 7.5494e-01, 6.9697e-01, 7.9039e-01, 8.1273e-02, 8.0195e-01,
        9.9909e-01, 9.8962e-01, 9.1571e-01, 9.8002e-01, 9.7652e-01, 7.9654e-01,
        8.4445e-01, 9.8200e-01, 9.5493e-01, 8.5166e-01, 9.9967e-01, 9.5461e-01,
        9.4898e-01, 9.0517e-01, 7.8060e-01, 9.2591e-01, 8.0498e-01, 9.2589e-01,
        8.8846e-01, 9.8684e-01, 8.7488e-01, 1.9653e-01, 9.9993e-01, 9.9334e-01,
        9.7476e-01, 8.6197e-01, 9.0745e-01, 3.9722e-01, 9.9994e-01],
       dtype=torch.float64)

### Build ML Portfolio

In [30]:
k = 0.5
calculate_ml_portfolio_weights_lambda = lambda x: 0 if x < k else 1
calculate_ml_portfolio_weights = np.vectorize(calculate_ml_portfolio_weights_lambda)
# vfunc(x)
# calculate_ml_portfolio_weights = functorch.vmap(ml_portfolio_weights, out_dims=1)
# forecast = 
# portfolio_weights = calculate_ml_portfolio_weights(y_test.numpy())
# print(portfolio_weights)

portfolio_weights = y_test.apply_(calculate_ml_portfolio_weights_lambda)
print(portfolio_weights)

tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 1.,
        1., 1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1.,
        1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0.,
        1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1.,
        0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
        1., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 0., 1.,
        0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1.,
        1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1.,
        1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1.,
        0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1.,
        1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0.,
        1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1.,
        1., 1., 1., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
        1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
        1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1.], dtype=torch.float64)

# MV Portfolio

In [32]:
def add_daily_return(market_data):
    market_data["Pct Return"]  = market_data['Close'].pct_change()

add_daily_return(high_risk)
add_daily_return(low_risk)

In [54]:
high_risk

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary,Pct Return
25,2017-10-03,252.320007,252.889999,252.229996,252.860001,232.992355,1.367891,0.208144,0.708710,252.320007,0.002140,1,NaN
26,2017-10-04,252.690002,253.440002,252.559998,253.160004,233.268799,1.145610,0.181166,0.583476,252.860001,0.001186,1,0.001186
27,2017-10-05,253.539993,254.679993,253.199997,254.660004,234.650909,1.300584,0.431716,0.577785,253.160004,0.005925,1,0.005925
28,2017-10-06,254.149994,254.699997,253.850006,254.369995,234.383713,1.651169,0.084801,0.525604,254.660004,-0.001139,1,-0.001139
29,2017-10-09,254.630005,254.699997,253.649994,253.949997,233.996689,0.733043,-0.262114,0.468679,254.369995,-0.001651,1,-0.001651
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2021-08-23,445.160004,448.230011,443.440002,447.260010,440.990021,1.125533,0.809462,2.088182,443.359985,0.008797,1,0.008797
1004,2021-08-24,447.970001,448.540009,447.420013,447.970001,441.690033,0.793270,0.000000,1.577758,447.260010,0.001587,1,0.001587
1005,2021-08-25,448.170013,449.459991,447.769989,448.910004,442.616913,0.829817,0.285235,1.438293,447.970001,0.002098,1,0.002098
1006,2021-08-26,448.609985,448.859985,446.160004,446.260010,440.004089,1.184020,-0.905814,1.147032,448.910004,-0.005903,0,-0.005903
1007,2021-08-27,447.119995,450.649994,447.059998,450.250000,443.938110,1.581334,1.206482,1.214391,446.260010,0.008941,1,0.008941

In [37]:
high_risk_return_annual = high_risk["Pct Return"].mean() * trading_days_in_year
low_risk_return_annual = low_risk["Pct Return"].mean() * trading_days_in_year
print(high_risk_return_annual)
print(low_risk_return_annual)

0.17665527406579903
-0.019512992661614405

In [38]:
high_risk_var_daily = high_risk["Pct Return"].var()
low_risk_var_daily = low_risk["Pct Return"].var()
print(high_risk_var_daily)
print(low_risk_var_daily)

0.00017197969163255594
6.325232453016195e-05

## Build data for high and low risk

In [44]:
mv_data = pd.DataFrame(data={'high': high_risk['Close'], 'low':low_risk['Close']})
mv_data

            high    low
25    252.860001  10.86
26    253.160004  10.86
27    254.660004  10.88
28    254.369995  10.88
29    253.949997  10.88
...          ...    ...
1003  447.260010   9.84
1004  447.970001   9.86
1005  448.910004   9.86
1006  446.260010   9.88
1007  450.250000   9.78

[983 rows x 2 columns]

In [46]:
def get_annual_sample_return_and_covariance(data):
    daily_return = data.pct_change()
    annual_return = daily_return.mean() * trading_days_in_year
    daily_covariance = data.cov()
    annual_covariance = daily_covariance * trading_days_in_year
    return annual_return, annual_covariance

In [50]:
r, cov = get_annual_sample_return_and_covariance(mv_data)
display(r)
display(cov)

high    0.176655
low    -0.019513
dtype: float64

               high         low
high  719700.556321 -121.568379
low     -121.568379   36.239788

In [51]:
#function obtains minimal risk portfolio 

from scipy import optimize 

def MinimizeRisk(CovarReturns, PortfolioSize):
    
    def  f(x, CovarReturns):
        func = np.matmul(np.matmul(x, CovarReturns), x.T) 
        return func

    def constraintEq(x):
        A=np.ones(x.shape)
        b=1
        constraintVal = np.matmul(A,x.T)-b 
        return constraintVal
    
    xinit=np.repeat(0.1, PortfolioSize)
    cons = ({'type': 'eq', 'fun':constraintEq})
    lb = 0
    ub = 1
    bnds = tuple([(lb,ub) for x in xinit])

    opt = optimize.minimize (f, x0 = xinit, args = (CovarReturns),  bounds = bnds, \
                             constraints = cons, tol = 10**-3)
    
    return opt

In [52]:
def print_min_variance_portfolio(mean_returns, cov_returns):
    number_of_assets = len(mean_returns)
    result = MinimizeRisk(cov_returns, number_of_assets)

    print()
    minRiskWeights = result.x
    minRiskExpPortfolioReturn = np.matmul(mean_returns.T, minRiskWeights)
    print("Expected Return of Minimum Risk Portfolio:  %7.6f" % minRiskExpPortfolioReturn)
    minRisk = np.matmul(np.matmul(minRiskWeights, cov_returns), minRiskWeights.T) 
    print("Variance of Minimum Risk Portfolio : %7.6f" % minRisk)
    print("S.D. of Minimum Risk Portfolio : %7.6f" % np.sqrt(minRisk))
    threshold = 1e-3
    print("Weights (showing only those > %.6f): " % threshold)
    for i in range(0, number_of_assets):
        if result.x[i] > threshold:
            print(f"{mean_returns.index[i]}\t{result.x[i]:.6f}")
    print('Assets Considered:')
    print(mean_returns.index.to_numpy())

In [53]:
print_min_variance_portfolio(r, cov)

Expected Return of Minimum Risk Portfolio:  0.015714
Variance of Minimum Risk Portfolio : 7194.936594
S.D. of Minimum Risk Portfolio : 84.822972
Weights (showing only those > 0.001000):
high	0.100000
low	0.100000
Assets Considered:
['high' 'low']