In [1]:
import torch
from torch import nn
from torch import optim
from torch.utils.data import DataLoader
from torchvision import datasets
from torchvision.transforms import ToTensor
from torch.autograd import Variable
import pandas as pd
import scipy
from scipy import stats
import numpy as np

In [2]:
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

Using cpu device

In [3]:
MA_DAYS = 25

Import raw data from yahoo finance

In [4]:
high_risk = pd.read_csv('SPY.csv')
low_risk = pd.read_csv('O9P.SI.csv')
high_risk = high_risk[:1008]
low_risk = low_risk[:1008]
print(high_risk.shape)
print(low_risk.shape)

(1008, 7)
(1008, 7)

In [5]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-28,245.169998,245.199997,244.089996,244.570007,224.240860,40565600
1,2017-08-29,243.059998,245.149994,242.929993,244.850006,224.497574,51135700
2,2017-08-30,244.830002,246.320007,244.619995,246.009995,225.561142,62030800
3,2017-08-31,246.720001,247.770004,246.050003,247.490005,226.918106,103803900
4,2017-09-01,247.919998,248.330002,247.669998,247.839996,227.239059,62007000

In [6]:
low_risk.head()

         Date   Open   High    Low  Close  Adj Close  Volume
0  2017-08-28  10.90  10.90  10.88  10.88      10.88    7400
1  2017-08-29  10.89  10.90  10.89  10.90      10.90    1400
2  2017-08-30  10.94  10.94  10.94  10.94      10.94    5300
3  2017-08-31  10.92  10.96  10.92  10.93      10.93   30700
4  2017-09-04  10.89  10.89  10.80  10.83      10.83   59800

Calculate daily returns

In [7]:
def add_daily_return(market_data):
    market_data["Daily Return"]  = market_data['Close'] - market_data['Open']

add_daily_return(high_risk)
add_daily_return(low_risk)

Calculate moving average (MA) of daily returns

In [8]:
def add_moving_average(market_data, ma_days):
    temp_vars = []

    # df = market_data
    for i in range(0,ma_days):
        temp_var = "M_{0}".format(i)
        market_data[temp_var] = market_data["Daily Return"].shift(i)
        temp_vars.append(temp_var)

    market_data["MA"] = market_data[temp_vars].mean(axis=1)

    for i in range(0,ma_days):
        temp_var = "M_{0}".format(i)
        market_data.drop(temp_var, axis = 1, inplace = True)

add_moving_average(high_risk, MA_DAYS)
add_moving_average(low_risk, MA_DAYS)

In [9]:
high_risk.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA
1003,2021-08-23,445.160004,448.230011,443.440002,447.260010,440.990021,54973000,2.100006,0.880400
1004,2021-08-24,447.970001,448.540009,447.420013,447.970001,441.690033,38744700,0.000000,0.665200
1005,2021-08-25,448.170013,449.459991,447.769989,448.910004,442.616913,40529700,0.739991,0.606400
1006,2021-08-26,448.609985,448.859985,446.160004,446.260010,440.004089,57829600,-2.349975,0.483601
1007,2021-08-27,447.119995,450.649994,447.059998,450.250000,443.938110,77235100,3.130005,0.512001

In [10]:
low_risk.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA
1003,2021-08-24,9.83,9.86,9.81,9.84,9.84,19960,0.01,-0.0316
1004,2021-08-25,9.90,9.90,9.85,9.86,9.86,102205,-0.04,-0.0320
1005,2021-08-26,9.89,9.89,9.86,9.86,9.86,66520,-0.03,-0.0296
1006,2021-08-27,9.90,9.90,9.86,9.88,9.88,68015,-0.02,-0.0308
1007,2021-08-30,9.79,9.79,9.77,9.78,9.78,1017465,-0.01,-0.0312

Calculate ROE

In [11]:
def add_roe(market_data):    
    market_data["Prev Close"] = market_data["Close"].shift(1)
    market_data["ROE"] = (market_data["Close"] - market_data["Prev Close"]) / market_data['Prev Close']

add_roe(high_risk)
add_roe(low_risk)

In [12]:
def add_roe_binary(market_data, tau=-0.005):    
    market_data["ROE Binary"] = np.where(market_data["ROE"].values < tau, 0, 1)

add_roe_binary(high_risk)
add_roe_binary(low_risk)

In [13]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
0,2017-08-28,245.169998,245.199997,244.089996,244.570007,224.240860,40565600,-0.599991,-0.599991,NaN,NaN,1
1,2017-08-29,243.059998,245.149994,242.929993,244.850006,224.497574,51135700,1.790008,0.595009,244.570007,0.001145,1
2,2017-08-30,244.830002,246.320007,244.619995,246.009995,225.561142,62030800,1.179993,0.790003,244.850006,0.004738,1
3,2017-08-31,246.720001,247.770004,246.050003,247.490005,226.918106,103803900,0.770004,0.785004,246.009995,0.006016,1
4,2017-09-01,247.919998,248.330002,247.669998,247.839996,227.239059,62007000,-0.080002,0.612002,247.490005,0.001414,1

In [14]:
low_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
0,2017-08-28,10.90,10.90,10.88,10.88,10.88,7400,-0.02,-0.020000,NaN,NaN,1
1,2017-08-29,10.89,10.90,10.89,10.90,10.90,1400,0.01,-0.005000,10.88,0.001838,1
2,2017-08-30,10.94,10.94,10.94,10.94,10.94,5300,0.00,-0.003333,10.90,0.003670,1
3,2017-08-31,10.92,10.96,10.92,10.93,10.93,30700,0.01,0.000000,10.94,-0.000914,1
4,2017-09-04,10.89,10.89,10.80,10.83,10.83,59800,-0.06,-0.012000,10.93,-0.009149,0

Build feature space

In [15]:
def remove_for_ma(market_data, ma_days):
  return market_data[ma_days:]

high_risk = remove_for_ma(high_risk, MA_DAYS)
low_risk = remove_for_ma(low_risk, MA_DAYS)

In [16]:
print(high_risk.shape)

(983, 12)

In [17]:
def standardize_columns(market_data, columns):
  for column in columns:
    market_data[column] = market_data[column]/market_data[column].std()

standardize_columns(high_risk, ['Volume', 'Daily Return', 'MA'])
standardize_columns(low_risk, ['Volume', 'Daily Return', 'MA'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
25,2017-10-03,252.320007,252.889999,252.229996,252.860001,232.992355,1.367891,0.208144,0.708710,252.320007,0.002140,1
26,2017-10-04,252.690002,253.440002,252.559998,253.160004,233.268799,1.145610,0.181166,0.583476,252.860001,0.001186,1
27,2017-10-05,253.539993,254.679993,253.199997,254.660004,234.650909,1.300584,0.431716,0.577785,253.160004,0.005925,1
28,2017-10-06,254.149994,254.699997,253.850006,254.369995,234.383713,1.651169,0.084801,0.525604,254.660004,-0.001139,1
29,2017-10-09,254.630005,254.699997,253.649994,253.949997,233.996689,0.733043,-0.262114,0.468679,254.369995,-0.001651,1

In [19]:
low_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
25,2017-10-03,10.86,10.87,10.86,10.86,10.86,0.659605,0.000000,-0.383962,10.85,0.000922,1
26,2017-10-04,10.86,10.86,10.86,10.86,10.86,0.000000,0.000000,-0.393561,10.86,0.000000,1
27,2017-10-05,10.89,10.89,10.88,10.88,10.88,0.172782,-0.045821,-0.403161,10.86,0.001842,1
28,2017-10-06,10.89,10.89,10.87,10.88,10.88,0.371247,-0.045821,-0.422359,10.88,0.000000,1
29,2017-10-09,10.88,10.88,10.85,10.88,10.88,0.254503,0.000000,-0.364764,10.88,0.000000,1

In [20]:
def to_X_train_features(low_risk, high_risk):
  high_risk_train = high_risk[:800]
  low_risk_train = low_risk[:800]
  return np.vstack((high_risk_train['Daily Return'], high_risk_train['MA'], high_risk_train['Volume'], low_risk_train['Daily Return'], low_risk_train['MA'], low_risk_train['Volume']))

X = to_X_train_features(low_risk, high_risk).T
print(X.shape, X)

(800, 6) [[ 0.20814449  0.7087102   1.36789127  0.         -0.38396238  0.65960516]
 [ 0.18116558  0.58347574  1.14561011  0.         -0.39356144  0.        ]
 [ 0.43171613  0.57778499  1.30058409 -0.04582138 -0.4031605   0.17278153]
 ...
 [ 0.75935115 -0.39561758  0.94032262  0.         -0.27837273  0.03076212]
 [ 0.00385804  0.12144766  1.28746417  0.13746413 -0.27837273  0.62726699]
 [ 0.97520594  0.07021485  1.03906806 -0.41239238 -0.35516521  0.1856234 ]]

In [21]:
def to_Y_train_features(low_risk, high_risk):
  high_risk_train = high_risk[0:800]
  return high_risk_train['ROE Binary'].values

Y = to_Y_train_features(low_risk, high_risk)
print(Y.shape, Y)

(800,) [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 0 1 1 0 0 1 0 0 1 1 1 1 1 1 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0
 0 1 1 0 1 1 0 0 1 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 1 1 0 1 0 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 0
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1 0 0
 1 0 1 1 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 0 1 1 1 1 1 1 0
 1 0 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1
 0 0 1 1 0 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 0 1 1 1 0 0 1 0 1 1 1 0 1 1 0 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 0 0 0 1 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 0 1
 0 1 1 1 1 0 1 0 1 1 0 0 1 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1
 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0
 1 1 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 0 1 0 1 0 1
 1 1 1 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1]

Build graph

In [22]:
X_tensor = torch.from_numpy(X)
print(type(X), X.shape, X_tensor.size())
Y_tensor = torch.from_numpy(Y).double()
print(type(Y), Y.shape, Y_tensor.size())

<class 'numpy.ndarray'> (800, 6) torch.Size([800, 6])
<class 'numpy.ndarray'> (800,) torch.Size([800])

In [23]:
a = torch.randn((6), requires_grad=True, dtype=torch.double)
b = torch.randn((6), requires_grad=True, dtype=torch.double)
print(a, a.size(), b, b.size())

tensor([ 0.1531, -1.1135,  0.4559,  2.8675, -0.4877, -0.7353],
       dtype=torch.float64, requires_grad=True) torch.Size([6]) tensor([ 0.4709, -0.1859, -1.3580, -1.0455, -0.8046,  1.8527],
       dtype=torch.float64, requires_grad=True) torch.Size([6])

In [24]:
lr = 1e-1
n_epochs = 500
torch.manual_seed(42)
lambda1 = 1e-3 #0.5
lambda2 = 1e-3 #0.5

# criterion = nn.CrossEntropyLoss()
loss_fn = nn.BCELoss()
optimizer = optim.SGD([a, b], lr=lr)

In [27]:
for epoch in range(n_epochs):
    yhat = torch.exp(torch.matmul(X_tensor, a)) / (torch.exp (torch.matmul(X_tensor, a)) + torch.exp(torch.matmul(X_tensor, b)))
    
    # error = Y_tensor - yhat
    # loss = (error ** 2).mean() 
    #+ lambda1 * np.concat(a, b).sum() + lambda2 * (np.concat(a, b)**2).sum()

    # No more manual computation of gradients! 
    # a_grad = -2 * error.mean()
    # b_grad = -2 * (x_tensor * error).mean()
    
    # We just tell PyTorch to work its way BACKWARDS from the specified loss!
    # loss.backward()

    loss = loss_fn(yhat, Y_tensor)
    loss.backward()   
    
    # Let's check the computed gradients...
    #print(a.grad)
    #print(b.grad)
    # print(loss)
    print(f"Epoch: {epoch}. Loss: {loss}")
    
    # What about UPDATING the parameters? Not so fast...
    
    # FIRST ATTEMPT
    # AttributeError: 'NoneType' object has no attribute 'zero_'
    # a = a - lr * a.grad
    # b = b - lr * b.grad
    # print(a)

    # SECOND ATTEMPT
    # RuntimeError: a leaf Variable that requires grad has been used in an in-place operation.
    # a -= lr * a.grad
    # b -= lr * b.grad        
    
    # THIRD ATTEMPT
    # We need to use NO_GRAD to keep the update out of the gradient computation
    # Why is that? It boils down to the DYNAMIC GRAPH that PyTorch uses...
    # with torch.no_grad():
    #     a -= lr * a.grad
    #     b -= lr * b.grad
    
    # PyTorch is "clingy" to its computed gradients, we need to tell it to let it go...
    # a.grad.zero_()
    # b.grad.zero_()

    optimizer.step()
    optimizer.zero_grad()
    
print(a, b)

Epoch: 0. Loss: 0.48586740114991317
Epoch: 1. Loss: 0.4857100006518764
Epoch: 2. Loss: 0.4855528146201895
Epoch: 3. Loss: 0.4853958426956721
Epoch: 4. Loss: 0.48523908452210035
Epoch: 5. Loss: 0.4850825397461786
Epoch: 6. Loss: 0.4849262080175008
Epoch: 7. Loss: 0.4847700889885141
Epoch: 8. Loss: 0.48461418231448133
Epoch: 9. Loss: 0.4844584876534536
Epoch: 10. Loss: 0.48430300466621845
Epoch: 11. Loss: 0.4841477330162865
Epoch: 12. Loss: 0.48399267236984345
Epoch: 13. Loss: 0.4838378223957227
Epoch: 14. Loss: 0.4836831827653637
Epoch: 15. Loss: 0.48352875315280075
Epoch: 16. Loss: 0.4833745332345999
Epoch: 17. Loss: 0.4832205226898553
Epoch: 18. Loss: 0.483066721200141
Epoch: 19. Loss: 0.4829131284494865
Epoch: 20. Loss: 0.4827597441243484
Epoch: 21. Loss: 0.48260656791357526
Epoch: 22. Loss: 0.4824535995083819
Epoch: 23. Loss: 0.4823008386023119
Epoch: 24. Loss: 0.48214828489122796
Epoch: 25. Loss: 0.4819959380732587
Epoch: 26. Loss: 0.4818437978487921
Epoch: 27. Loss: 0.48169186392043484
Epoch: 28. Loss: 0.4815401359929814
Epoch: 29. Loss: 0.4813886137734077
Epoch: 30. Loss: 0.4812372969708231
Epoch: 31. Loss: 0.4810861852964525
Epoch: 32. Loss: 0.4809352784636133
Epoch: 33. Loss: 0.48078457618767906
Epoch: 34. Loss: 0.48063407818607135
Epoch: 35. Loss: 0.4804837841782168
Epoch: 36. Loss: 0.4803336938855359
Epoch: 37. Loss: 0.48018380703140934
Epoch: 38. Loss: 0.4800341233411574
Epoch: 39. Loss: 0.4798846425420234
Epoch: 40. Loss: 0.4797353643631379
Epoch: 41. Loss: 0.47958628853550445
Epoch: 42. Loss: 0.47943741479196444
Epoch: 43. Loss: 0.4792887428671988
Epoch: 44. Loss: 0.4791402724976777
Epoch: 45. Loss: 0.47899200342165466
Epoch: 46. Loss: 0.4788439353791488
Epoch: 47. Loss: 0.4786960681119033
Epoch: 48. Loss: 0.4785484013633875
Epoch: 49. Loss: 0.47840093487875945
Epoch: 50. Loss: 0.47825366840485684
Epoch: 51. Loss: 0.47810660169016345
Epoch: 52. Loss: 0.47795973448480245
Epoch: 53. Loss: 0.47781306654050704
Epoch: 54. Loss: 0.47766659761060587
Epoch: 55. Loss: 0.4775203274500028
Epoch: 56. Loss: 0.4773742558151578
Epoch: 57. Loss: 0.4772283824640586
Epoch: 58. Loss: 0.4770827071562219
Epoch: 59. Loss: 0.47693722965265745
Epoch: 60. Loss: 0.47679194971585354
Epoch: 61. Loss: 0.4766468671097661
Epoch: 62. Loss: 0.4765019815997917
Epoch: 63. Loss: 0.47635729295275525
Epoch: 64. Loss: 0.4762128009368914
Epoch: 65. Loss: 0.4760685053218292
Epoch: 66. Loss: 0.47592440587856966
Epoch: 67. Loss: 0.4757805023794741
Epoch: 68. Loss: 0.47563679459824487
Epoch: 69. Loss: 0.4754932823099142
Epoch: 70. Loss: 0.4753499652908151
Epoch: 71. Loss: 0.4752068433185815
Epoch: 72. Loss: 0.4750639161721182
Epoch: 73. Loss: 0.4749211836316033
Epoch: 74. Loss: 0.4747786454784527
Epoch: 75. Loss: 0.4746363014953122
Epoch: 76. Loss: 0.47449415146604507
Epoch: 77. Loss: 0.47435219517571625
Epoch: 78. Loss: 0.47421043241058464
Epoch: 79. Loss: 0.4740688629580654
Epoch: 80. Loss: 0.4739274866067425
Epoch: 81. Loss: 0.4737863031463408
Epoch: 82. Loss: 0.47364531236771606
Epoch: 83. Loss: 0.47350451406283384
Epoch: 84. Loss: 0.47336390802476463
Epoch: 85. Loss: 0.47322349404766484
Epoch: 86. Loss: 0.47308327192677235
Epoch: 87. Loss: 0.47294324145837746
Epoch: 88. Loss: 0.4728034024398221
Epoch: 89. Loss: 0.4726637546694822
Epoch: 90. Loss: 0.47252429794676054
Epoch: 91. Loss: 0.4723850320720617
Epoch: 92. Loss: 0.47224595684679327
Epoch: 93. Loss: 0.47210707207334934
Epoch: 94. Loss: 0.4719683775550861
Epoch: 95. Loss: 0.4718298730963347
Epoch: 96. Loss: 0.4716915585023683
Epoch: 97. Loss: 0.47155343357938684
Epoch: 98. Loss: 0.4714154981345318
Epoch: 99. Loss: 0.47127775197584937
Epoch: 100. Loss: 0.4711401949122836
Epoch: 101. Loss: 0.47100282675368377
Epoch: 102. Loss: 0.47086564731075925
Epoch: 103. Loss: 0.4707286563951051
Epoch: 104. Loss: 0.4705918538191597
Epoch: 105. Loss: 0.47045523939622297
Epoch: 106. Loss: 0.4703188129404133
Epoch: 107. Loss: 0.47018257426669124
Epoch: 108. Loss: 0.4700465231908219
Epoch: 109. Loss: 0.46991065952938205
Epoch: 110. Loss: 0.4697749830997326
Epoch: 111. Loss: 0.4696394937200279
Epoch: 112. Loss: 0.46950419120918907
Epoch: 113. Loss: 0.46936907538691075
Epoch: 114. Loss: 0.4692341460736362
Epoch: 115. Loss: 0.4690994030905469
Epoch: 116. Loss: 0.46896484625957646
Epoch: 117. Loss: 0.46883047540336553
Epoch: 118. Loss: 0.4686962903452849
Epoch: 119. Loss: 0.4685622909094013
Epoch: 120. Loss: 0.4684284769204888
Epoch: 121. Loss: 0.4682948482040004
Epoch: 122. Loss: 0.4681614045860742
Epoch: 123. Loss: 0.4680281458935198
Epoch: 124. Loss: 0.4678950719537977
Epoch: 125. Loss: 0.46776218259503133
Epoch: 126. Loss: 0.4676294776459894
Epoch: 127. Loss: 0.4674969569360614
Epoch: 128. Loss: 0.467364620295279
Epoch: 129. Loss: 0.46723246755427894
Epoch: 130. Loss: 0.46710049854431773
Epoch: 131. Loss: 0.46696871309724036
Epoch: 132. Loss: 0.46683711104549575
Epoch: 133. Loss: 0.4667056922221066
Epoch: 134. Loss: 0.4665744564606796
Epoch: 135. Loss: 0.4664434035953813
Epoch: 136. Loss: 0.4663125334609422
Epoch: 137. Loss: 0.4661818458926366
Epoch: 138. Loss: 0.46605134072629284
Epoch: 139. Loss: 0.4659210177982584
Epoch: 140. Loss: 0.46579087694541615
Epoch: 141. Loss: 0.46566091800516324
Epoch: 142. Loss: 0.46553114081541536
Epoch: 143. Loss: 0.46540154521457006
Epoch: 144. Loss: 0.4652721310415375
Epoch: 145. Loss: 0.4651428981357003
Epoch: 146. Loss: 0.4650138463369195
Epoch: 147. Loss: 0.4648849754855304
Epoch: 148. Loss: 0.4647562854223196
Epoch: 149. Loss: 0.4646277759885312
Epoch: 150. Loss: 0.46449944702585333
Epoch: 151. Loss: 0.46437129837639657
Epoch: 152. Loss: 0.4642433298827096
Epoch: 153. Loss: 0.46411554138775146
Epoch: 154. Loss: 0.46398793273488886
Epoch: 155. Loss: 0.4638605037678893
Epoch: 156. Loss: 0.46373325433091067
Epoch: 157. Loss: 0.4636061842684855
Epoch: 158. Loss: 0.4634792934255176
Epoch: 159. Loss: 0.46335258164727633
Epoch: 160. Loss: 0.4632260487793765
Epoch: 161. Loss: 0.4630996946677744
Epoch: 162. Loss: 0.4629735191587555
Epoch: 163. Loss: 0.46284752209892127
Epoch: 164. Loss: 0.4627217033351819
Epoch: 165. Loss: 0.46259606271474285
Epoch: 166. Loss: 0.46247060008510105
Epoch: 167. Loss: 0.46234531529401124
Epoch: 168. Loss: 0.4622202081894918
Epoch: 169. Loss: 0.4620952786198065
Epoch: 170. Loss: 0.4619705264334519
Epoch: 171. Loss: 0.4618459514791361
Epoch: 172. Loss: 0.4617215536057737
Epoch: 173. Loss: 0.46159733266245534
Epoch: 174. Loss: 0.4614732884984541
Epoch: 175. Loss: 0.46134942096318027
Epoch: 176. Loss: 0.4612257299061862
Epoch: 177. Loss: 0.46110221517713895
Epoch: 178. Loss: 0.4609788766257877
Epoch: 179. Loss: 0.46085571410196485
Epoch: 180. Loss: 0.46073272745555016
Epoch: 181. Loss: 0.46060991653645117
Epoch: 182. Loss: 0.46048728119457283
Epoch: 183. Loss: 0.4603648212797957
Epoch: 184. Loss: 0.46024253664195863
Epoch: 185. Loss: 0.46012042713080176
Epoch: 186. Loss: 0.45999849259595876
Epoch: 187. Loss: 0.4598767328869252
Epoch: 188. Loss: 0.4597551478530033
Epoch: 189. Loss: 0.4596337373432857
Epoch: 190. Loss: 0.4595125012065999
Epoch: 191. Loss: 0.45939143929147347
Epoch: 192. Loss: 0.4592705514460912
Epoch: 193. Loss: 0.4591498375182549
Epoch: 194. Loss: 0.4590292973553078
Epoch: 195. Loss: 0.45890893080410344
Epoch: 196. Loss: 0.45878873771094303
Epoch: 197. Loss: 0.4586687179215134
Epoch: 198. Loss: 0.4585488712808183
Epoch: 199. Loss: 0.45842919763312023
Epoch: 200. Loss: 0.45830969682184813
Epoch: 201. Loss: 0.4581903686895425
Epoch: 202. Loss: 0.4580712130777475
Epoch: 203. Loss: 0.457952229826952
Epoch: 204. Loss: 0.45783341877644745
Epoch: 205. Loss: 0.45771477976428665
Epoch: 206. Loss: 0.45759631262712547
Epoch: 207. Loss: 0.45747801720012815
Epoch: 208. Loss: 0.4573598933168478
Epoch: 209. Loss: 0.4572419408090881
Epoch: 210. Loss: 0.45712415950676244
Epoch: 211. Loss: 0.4570065492377433
Epoch: 212. Loss: 0.4568891098277163
Epoch: 213. Loss: 0.4567718410999915
Epoch: 214. Loss: 0.4566547428753311
Epoch: 215. Loss: 0.456537814971754
Epoch: 216. Loss: 0.45642105720433773
Epoch: 217. Loss: 0.4563044693849718
Epoch: 218. Loss: 0.45618805132215867
Epoch: 219. Loss: 0.4560718028207301
Epoch: 220. Loss: 0.4559557236815986
Epoch: 221. Loss: 0.45583981370145993
Epoch: 222. Loss: 0.4557240726724964
Epoch: 223. Loss: 0.4556085003820465
Epoch: 224. Loss: 0.45549309661225623
Epoch: 225. Loss: 0.4553778611397067
Epoch: 226. Loss: 0.4552627937350249
Epoch: 227. Loss: 0.4551478941624509
Epoch: 228. Loss: 0.4550331621794044
Epoch: 229. Loss: 0.4549185975359791
Epoch: 230. Loss: 0.45480419997445254
Epoch: 231. Loss: 0.45468996922872534
Epoch: 232. Loss: 0.45457590502374173
Epoch: 233. Loss: 0.45446200707487194
Epoch: 234. Loss: 0.454348275087238
Epoch: 235. Loss: 0.4542347087550131
Epoch: 236. Loss: 0.45412130776065696
Epoch: 237. Loss: 0.45400807177413216
Epoch: 238. Loss: 0.45389500045201897
Epoch: 239. Loss: 0.4537820934366069
Epoch: 240. Loss: 0.4536693503549289
Epoch: 241. Loss: 0.4535567708177102
Epoch: 242. Loss: 0.4534443544182589
Epoch: 243. Loss: 0.4533321007312789
Epoch: 244. Loss: 0.45322000931161505
Epoch: 245. Loss: 0.45310807969289796
Epoch: 246. Loss: 0.4529963113861206
Epoch: 247. Loss: 0.4528847038780908
Epoch: 248. Loss: 0.4527732566298205
Epoch: 249. Loss: 0.4526619690747746
Epoch: 250. Loss: 0.45255084061701917
Epoch: 251. Loss: 0.4524398706292439
Epoch: 252. Loss: 0.4523290584506647
Epoch: 253. Loss: 0.4522184033847645
Epoch: 254. Loss: 0.4521079046969181
Epoch: 255. Loss: 0.45199756161182303
Epoch: 256. Loss: 0.45188737331078555
Epoch: 257. Loss: 0.45177733892883737
Epoch: 258. Loss: 0.45166745755160953
Epoch: 259. Loss: 0.4515577282120784
Epoch: 260. Loss: 0.45144814988701737
Epoch: 261. Loss: 0.45133872149327886
Epoch: 262. Loss: 0.4512294418837753
Epoch: 263. Loss: 0.4511203098432459
Epoch: 264. Loss: 0.4510113240836929
Epoch: 265. Loss: 0.45090248323955195
Epoch: 266. Loss: 0.45079378586252433
Epoch: 267. Loss: 0.45068523041605557
Epoch: 268. Loss: 0.45057681526946763
Epoch: 269. Loss: 0.45046853869168607
Epoch: 270. Loss: 0.45036039884453727
Epoch: 271. Loss: 0.45025239377560583
Epoch: 272. Loss: 0.4501445214106113
Epoch: 273. Loss: 0.4500367795452513
Epoch: 274. Loss: 0.44992916583652415
Epoch: 275. Loss: 0.4498216777934097
Epoch: 276. Loss: 0.4497143127669582
Epoch: 277. Loss: 0.4496070679396722
Epoch: 278. Loss: 0.44949994031416296
Epoch: 279. Loss: 0.449392926700998
Epoch: 280. Loss: 0.44928602370574205
Epoch: 281. Loss: 0.449179227715049
Epoch: 282. Loss: 0.44907253488178595
Epoch: 283. Loss: 0.44896594110907934
Epoch: 284. Loss: 0.44885944203325634
Epoch: 285. Loss: 0.4487530330055094
Epoch: 286. Loss: 0.44864670907226617
Epoch: 287. Loss: 0.44854046495407573
Epoch: 288. Loss: 0.4484342950229622
Epoch: 289. Loss: 0.44832819327807877
Epoch: 290. Loss: 0.44822215331950277
Epoch: 291. Loss: 0.4481161683200618
Epoch: 292. Loss: 0.44801023099495135
Epoch: 293. Loss: 0.4479043335690021
Epoch: 294. Loss: 0.4477984677413599
Epoch: 295. Loss: 0.4476926246473104
Epoch: 296. Loss: 0.4475867948170629
Epoch: 297. Loss: 0.44748096813105787
Epoch: 298. Loss: 0.4473751337716517
Epoch: 299. Loss: 0.4472692801705911
Epoch: 300. Loss: 0.44716339495208723
Epoch: 301. Loss: 0.4470574648707999
Epoch: 302. Loss: 0.44695147574438543
Epoch: 303. Loss: 0.4468454123798984
Epoch: 304. Loss: 0.4467392584934352
Epoch: 305. Loss: 0.44663299662220246
Epoch: 306. Loss: 0.44652660802821315
Epoch: 307. Loss: 0.4464200725925369
Epoch: 308. Loss: 0.44631336869905397
Epoch: 309. Loss: 0.44620647310636413
Epoch: 310. Loss: 0.4460993608063819
Epoch: 311. Loss: 0.4459920048679242
Epoch: 312. Loss: 0.4458843762632743
Epoch: 313. Loss: 0.44577644367545477
Epoch: 314. Loss: 0.4456681732835777
Epoch: 315. Loss: 0.4455595285230744
Epoch: 316. Loss: 0.4454504698172819
Epoch: 317. Loss: 0.44534095427602943
Epoch: 318. Loss: 0.4452309353562368
Epoch: 319. Loss: 0.44512036247856135
Epoch: 320. Loss: 0.44500918059302175
Epoch: 321. Loss: 0.44489732968511225
Epoch: 322. Loss: 0.44478474421237296
Epoch: 323. Loss: 0.44467135245910927
Epoch: 324. Loss: 0.4445570757945708
Epoch: 325. Loss: 0.44444182781663044
Epoch: 326. Loss: 0.44432551335887704
Epoch: 327. Loss: 0.44420802733418613
Epoch: 328. Loss: 0.44408925338114
Epoch: 329. Loss: 0.44396906227146615
Epoch: 330. Loss: 0.4438473100260461
Epoch: 331. Loss: 0.4437238356729455
Epoch: 332. Loss: 0.44359845856266544
Epoch: 333. Loss: 0.44347097513153677
Epoch: 334. Loss: 0.44334115497140675
Epoch: 335. Loss: 0.4432087360197505
Epoch: 336. Loss: 0.44307341862349625
Epoch: 337. Loss: 0.442934858145665
Epoch: 338. Loss: 0.442792655665144
Epoch: 339. Loss: 0.4426463461499198
Epoch: 340. Loss: 0.44249538323698223
Epoch: 341. Loss: 0.44233911938591
Epoch: 342. Loss: 0.44217677961984164
Epoch: 343. Loss: 0.44200742621237027
Epoch: 344. Loss: 0.44182991032449864
Epoch: 345. Loss: 0.4416428043900133
Epoch: 346. Loss: 0.44144430534117407
Epoch: 347. Loss: 0.4412320923123834
Epoch: 348. Loss: 0.44100311075080567
Epoch: 349. Loss: 0.4407532325870126
Epoch: 350. Loss: 0.44047669730066263
Epoch: 351. Loss: 0.4401651423123543
Epoch: 352. Loss: 0.4398058061972139
Epoch: 353. Loss: 0.43937790738242255
Epoch: 354. Loss: 0.43892259268895883
Epoch: 355. Loss: 0.4384691250989043
Epoch: 356. Loss: 0.4380174576635337
Epoch: 357. Loss: 0.4375675489209808
Epoch: 358. Loss: 0.4371193621406618
Epoch: 359. Loss: 0.436672864682838
Epoch: 360. Loss: 0.43622802745510136
Epoch: 361. Loss: 0.43578482445032335
Epoch: 362. Loss: 0.43534323235326566
Epoch: 363. Loss: 0.43490323020499955
Epoch: 364. Loss: 0.4344647991160542
Epoch: 365. Loss: 0.4340279220206979
Epoch: 366. Loss: 0.4335925834659234
Epoch: 367. Loss: 0.43315876942980774
Epoch: 368. Loss: 0.43272646716463825
Epoch: 369. Loss: 0.4322956650611095
Epoch: 370. Loss: 0.43186635253030414
Epoch: 371. Loss: 0.43143851990082704
Epoch: 372. Loss: 0.4310121583287625
Epoch: 373. Loss: 0.4305872597186376
Epoch: 374. Loss: 0.4301638166536638
Epoch: 375. Loss: 0.4297418223339929
Epoch: 376. Loss: 0.42932127052178887
Epoch: 377. Loss: 0.4289021554921772
Epoch: 378. Loss: 0.4284844719892032
Epoch: 379. Loss: 0.4280682151861663
Epoch: 380. Loss: 0.4276533806496886
Epoch: 381. Loss: 0.4272399643070315
Epoch: 382. Loss: 0.42682796241628906
Epoch: 383. Loss: 0.426417371538985
Epoch: 384. Loss: 0.42600818851488287
Epoch: 385. Loss: 0.42560041043867075
Epoch: 386. Loss: 0.42519403463834515
Epoch: 387. Loss: 0.4247890586550578
Epoch: 388. Loss: 0.42438548022429684
Epoch: 389. Loss: 0.4239832972582742
Epoch: 390. Loss: 0.4235825078293468
Epoch: 391. Loss: 0.42318311015444293
Epoch: 392. Loss: 0.4227851025803433
Epoch: 393. Loss: 0.42238848356982317
Epoch: 394. Loss: 0.4219932516884888
Epoch: 395. Loss: 0.42159940559240483
Epoch: 396. Loss: 0.4212069440163589
Epoch: 397. Loss: 0.42081586576279584
Epoch: 398. Loss: 0.4204261696914363
Epoch: 399. Loss: 0.42003785470953914
Epoch: 400. Loss: 0.4196509197628428
Epoch: 401. Loss: 0.41926536382725293
Epoch: 402. Loss: 0.418881185901303
Epoch: 403. Loss: 0.4184983849995209
Epoch: 404. Loss: 0.4181169601467496
Epoch: 405. Loss: 0.4177369103736964
Epoch: 406. Loss: 0.41735823471381545
Epoch: 407. Loss: 0.41698093220188603
Epoch: 408. Loss: 0.41660500187465177
Epoch: 409. Loss: 0.4162304427739352
Epoch: 410. Loss: 0.4158572539529349
Epoch: 411. Loss: 0.4154854344864708
Epoch: 412. Loss: 0.4151149834861505
Epoch: 413. Loss: 0.41474590012186136
Epoch: 414. Loss: 0.41437818365121104
Epoch: 415. Loss: 0.4140118334590738
Epoch: 416. Loss: 0.4136468491100355
Epoch: 417. Loss: 0.4132832304172358
Epoch: 418. Loss: 0.4129209775321037
Epoch: 419. Loss: 0.4125600910607068
Epoch: 420. Loss: 0.41220057221409867
Epoch: 421. Loss: 0.411842423001857
Epoch: 422. Loss: 0.4114856464807093
Epoch: 423. Loss: 0.41113024707329143
Epoch: 424. Loss: 0.41077623097596133
Epoch: 425. Loss: 0.4104236066798371
Epoch: 426. Loss: 0.4100723856354215
Epoch: 427. Loss: 0.4097225830989547
Epoch: 428. Loss: 0.4093742192084781
Epoch: 429. Loss: 0.4090273203492933
Epoch: 430. Loss: 0.40868192088292504
Epoch: 431. Loss: 0.40833806533070116
Epoch: 432. Loss: 0.4079958111229025
Epoch: 433. Loss: 0.4076552320466431
Epoch: 434. Loss: 0.40731642254934186
Epoch: 435. Loss: 0.4069795030775133
Epoch: 436. Loss: 0.4066446266486798
Epoch: 437. Loss: 0.4063119868603633
Epoch: 438. Loss: 0.4059818275230176
Epoch: 439. Loss: 0.40565445404592565
Epoch: 440. Loss: 0.4053302465809284
Epoch: 441. Loss: 0.4050096747044413
Epoch: 442. Loss: 0.40469331305159073
Epoch: 443. Loss: 0.40438185676625016
Epoch: 444. Loss: 0.4040761348724108
Epoch: 445. Loss: 0.4037771187318352
Epoch: 446. Loss: 0.4034859217565269
Epoch: 447. Loss: 0.4032037857777094
Epoch: 448. Loss: 0.40293204941384775
Epoch: 449. Loss: 0.4026720950430006
Epoch: 450. Loss: 0.4024252740950267
Epoch: 451. Loss: 0.40219281535863627
Epoch: 452. Loss: 0.40197572690869265
Epoch: 453. Loss: 0.401774707082864
Epoch: 454. Loss: 0.40159008120443757
Epoch: 455. Loss: 0.4014217768953987
Epoch: 456. Loss: 0.40126934249082813
Epoch: 457. Loss: 0.40113200319484094
Epoch: 458. Loss: 0.4010087419677821
Epoch: 459. Loss: 0.4008983891906054
Epoch: 460. Loss: 0.40079970699702416
Epoch: 461. Loss: 0.40071145895600035
Epoch: 462. Loss: 0.4006324611653099
Epoch: 463. Loss: 0.40056161508896054
Epoch: 464. Loss: 0.40049792500003156
Epoch: 465. Loss: 0.40044050384400104
Epoch: 466. Loss: 0.4003885712349228
Epoch: 467. Loss: 0.40034144666427807
Epoch: 468. Loss: 0.40029854021782296
Epoch: 469. Loss: 0.40025934237036787
Epoch: 470. Loss: 0.40022341384786037
Epoch: 471. Loss: 0.4001903761235785
Epoch: 472. Loss: 0.40015990282840064
Epoch: 473. Loss: 0.4001317121731079
Epoch: 474. Loss: 0.4001055603723792
Epoch: 475. Loss: 0.4000812360016144
Epoch: 476. Loss: 0.40005855519061884
Epoch: 477. Loss: 0.4000373575499367
Epoch: 478. Loss: 0.4000175027282987
Epoch: 479. Loss: 0.39999886750772695
Epoch: 480. Loss: 0.3999813433532368
Epoch: 481. Loss: 0.3999648343451483
Epoch: 482. Loss: 0.39994925543232474
Epoch: 483. Loss: 0.3999345309543022
Epoch: 484. Loss: 0.39992059338847497
Epoch: 485. Loss: 0.39990738228580747
Epoch: 486. Loss: 0.3998948433644769
Epoch: 487. Loss: 0.39988292773613776
Epoch: 488. Loss: 0.39987159124359584
Epoch: 489. Loss: 0.3998607938923739
Epoch: 490. Loss: 0.3998504993614733
Epoch: 491. Loss: 0.39984067458116485
Epoch: 492. Loss: 0.39983128936761303
Epoch: 493. Loss: 0.3998223161057852
Epoch: 494. Loss: 0.39981372947354193
Epoch: 495. Loss: 0.39980550620086164
Epoch: 496. Loss: 0.3997976248592093
Epoch: 497. Loss: 0.39979006567674213
Epoch: 498. Loss: 0.39978281037577235
Epoch: 499. Loss: 0.39977584202945005
tensor([ 1.5597, -0.4909, -0.0655,  0.8913, -0.7110,  0.7233],
       dtype=torch.float64, requires_grad=True) tensor([-0.9358, -0.8085, -0.8366,  0.9307, -0.5812,  0.3941],
       dtype=torch.float64, requires_grad=True)

Build efficient frontier

In [26]:
# forecast = 
# portfolio_weights =