In [1]:
# ÔºÅpip install functorch
import torch
from torch import nn
from torch import optim
from torch.utils.data import DataLoader
from torchvision import datasets
from torchvision.transforms import ToTensor
from torch.autograd import Variable
import pandas as pd
import scipy
from scipy import stats
import numpy as np

In [2]:
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

Using cpu device

In [3]:
MA_DAYS = 25

# Import raw data from yahoo finance

In [4]:
high_risk = pd.read_csv('SPY.csv')
low_risk = pd.read_csv('O9P.SI.csv')
high_risk = high_risk[:1008]
low_risk = low_risk[:1008]
print(high_risk.shape)
print(low_risk.shape)

(1008, 7)
(1008, 7)

In [5]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-28,245.169998,245.199997,244.089996,244.570007,224.240860,40565600
1,2017-08-29,243.059998,245.149994,242.929993,244.850006,224.497574,51135700
2,2017-08-30,244.830002,246.320007,244.619995,246.009995,225.561142,62030800
3,2017-08-31,246.720001,247.770004,246.050003,247.490005,226.918106,103803900
4,2017-09-01,247.919998,248.330002,247.669998,247.839996,227.239059,62007000

In [6]:
low_risk.head()

         Date   Open   High    Low  Close  Adj Close  Volume
0  2017-08-28  10.90  10.90  10.88  10.88      10.88    7400
1  2017-08-29  10.89  10.90  10.89  10.90      10.90    1400
2  2017-08-30  10.94  10.94  10.94  10.94      10.94    5300
3  2017-08-31  10.92  10.96  10.92  10.93      10.93   30700
4  2017-09-04  10.89  10.89  10.80  10.83      10.83   59800

## Calculate daily returns

In [7]:
def add_daily_return(market_data):
    market_data["Daily Return"]  = market_data['Close'] - market_data['Open']

add_daily_return(high_risk)
add_daily_return(low_risk)

## Calculate moving average (MA) of daily returns

In [8]:
def add_moving_average(market_data, ma_days):
    temp_vars = []

    # df = market_data
    for i in range(0,ma_days):
        temp_var = "M_{0}".format(i)
        market_data[temp_var] = market_data["Daily Return"].shift(i)
        temp_vars.append(temp_var)

    market_data["MA"] = market_data[temp_vars].mean(axis=1)

    for i in range(0,ma_days):
        temp_var = "M_{0}".format(i)
        market_data.drop(temp_var, axis = 1, inplace = True)

add_moving_average(high_risk, MA_DAYS)
add_moving_average(low_risk, MA_DAYS)

In [9]:
high_risk.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA
1003,2021-08-23,445.160004,448.230011,443.440002,447.260010,440.990021,54973000,2.100006,0.880400
1004,2021-08-24,447.970001,448.540009,447.420013,447.970001,441.690033,38744700,0.000000,0.665200
1005,2021-08-25,448.170013,449.459991,447.769989,448.910004,442.616913,40529700,0.739991,0.606400
1006,2021-08-26,448.609985,448.859985,446.160004,446.260010,440.004089,57829600,-2.349975,0.483601
1007,2021-08-27,447.119995,450.649994,447.059998,450.250000,443.938110,77235100,3.130005,0.512001

In [10]:
low_risk.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA
1003,2021-08-24,9.83,9.86,9.81,9.84,9.84,19960,0.01,-0.0316
1004,2021-08-25,9.90,9.90,9.85,9.86,9.86,102205,-0.04,-0.0320
1005,2021-08-26,9.89,9.89,9.86,9.86,9.86,66520,-0.03,-0.0296
1006,2021-08-27,9.90,9.90,9.86,9.88,9.88,68015,-0.02,-0.0308
1007,2021-08-30,9.79,9.79,9.77,9.78,9.78,1017465,-0.01,-0.0312

## Calculate ROE

In [11]:
def add_roe(market_data):    
    market_data["Prev Close"] = market_data["Close"].shift(1)
    market_data["ROE"] = (market_data["Close"] - market_data["Prev Close"]) / market_data['Prev Close']

add_roe(high_risk)
add_roe(low_risk)

In [12]:
def add_roe_binary(market_data, tau=-0.005):    
    market_data["ROE Binary"] = np.where(market_data["ROE"].values < tau, 0, 1)

add_roe_binary(high_risk)
add_roe_binary(low_risk)

In [13]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
0,2017-08-28,245.169998,245.199997,244.089996,244.570007,224.240860,40565600,-0.599991,-0.599991,NaN,NaN,1
1,2017-08-29,243.059998,245.149994,242.929993,244.850006,224.497574,51135700,1.790008,0.595009,244.570007,0.001145,1
2,2017-08-30,244.830002,246.320007,244.619995,246.009995,225.561142,62030800,1.179993,0.790003,244.850006,0.004738,1
3,2017-08-31,246.720001,247.770004,246.050003,247.490005,226.918106,103803900,0.770004,0.785004,246.009995,0.006016,1
4,2017-09-01,247.919998,248.330002,247.669998,247.839996,227.239059,62007000,-0.080002,0.612002,247.490005,0.001414,1

In [14]:
low_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
0,2017-08-28,10.90,10.90,10.88,10.88,10.88,7400,-0.02,-0.020000,NaN,NaN,1
1,2017-08-29,10.89,10.90,10.89,10.90,10.90,1400,0.01,-0.005000,10.88,0.001838,1
2,2017-08-30,10.94,10.94,10.94,10.94,10.94,5300,0.00,-0.003333,10.90,0.003670,1
3,2017-08-31,10.92,10.96,10.92,10.93,10.93,30700,0.01,0.000000,10.94,-0.000914,1
4,2017-09-04,10.89,10.89,10.80,10.83,10.83,59800,-0.06,-0.012000,10.93,-0.009149,0

# Build feature space

In [15]:
def remove_for_ma(market_data, ma_days):
  return market_data[ma_days:]

high_risk = remove_for_ma(high_risk, MA_DAYS)
low_risk = remove_for_ma(low_risk, MA_DAYS)

In [16]:
print(high_risk.shape)

(983, 12)

In [17]:
def standardize_columns(market_data, columns):
  for column in columns:
    market_data[column] = market_data[column]/market_data[column].std()

standardize_columns(high_risk, ['Volume', 'Daily Return', 'MA'])
standardize_columns(low_risk, ['Volume', 'Daily Return', 'MA'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
high_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
25,2017-10-03,252.320007,252.889999,252.229996,252.860001,232.992355,1.367891,0.208144,0.708710,252.320007,0.002140,1
26,2017-10-04,252.690002,253.440002,252.559998,253.160004,233.268799,1.145610,0.181166,0.583476,252.860001,0.001186,1
27,2017-10-05,253.539993,254.679993,253.199997,254.660004,234.650909,1.300584,0.431716,0.577785,253.160004,0.005925,1
28,2017-10-06,254.149994,254.699997,253.850006,254.369995,234.383713,1.651169,0.084801,0.525604,254.660004,-0.001139,1
29,2017-10-09,254.630005,254.699997,253.649994,253.949997,233.996689,0.733043,-0.262114,0.468679,254.369995,-0.001651,1

In [19]:
low_risk.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,MA,Prev Close,ROE,ROE Binary
25,2017-10-03,10.86,10.87,10.86,10.86,10.86,0.659605,0.000000,-0.383962,10.85,0.000922,1
26,2017-10-04,10.86,10.86,10.86,10.86,10.86,0.000000,0.000000,-0.393561,10.86,0.000000,1
27,2017-10-05,10.89,10.89,10.88,10.88,10.88,0.172782,-0.045821,-0.403161,10.86,0.001842,1
28,2017-10-06,10.89,10.89,10.87,10.88,10.88,0.371247,-0.045821,-0.422359,10.88,0.000000,1
29,2017-10-09,10.88,10.88,10.85,10.88,10.88,0.254503,0.000000,-0.364764,10.88,0.000000,1

In [20]:
def to_X_train_features(low_risk, high_risk):
  high_risk_train = high_risk[:1000]
  low_risk_train = low_risk[:1000]
  return np.vstack((high_risk_train['Daily Return'], high_risk_train['MA'], high_risk_train['Volume'], low_risk_train['Daily Return'], low_risk_train['MA'], low_risk_train['Volume']))

X = to_X_train_features(low_risk, high_risk).T
print(X.shape, X)

(983, 6) [[ 0.20814449  0.7087102   1.36789127  0.         -0.38396238  0.65960516]
 [ 0.18116558  0.58347574  1.14561011  0.         -0.39356144  0.        ]
 [ 0.43171613  0.57778499  1.30058409 -0.04582138 -0.4031605   0.17278153]
 ...
 [ 0.28523475  1.43829291  0.82981674 -0.13746413 -0.71033041  0.77658292]
 [-0.90581443  1.1470315   1.18401988 -0.09164275 -0.73912759  0.79403619]
 [ 1.20648249  1.2143914   1.58133367 -0.04582138 -0.74872665 11.87832143]]

In [21]:
def to_Y_train_features(low_risk, high_risk):
  high_risk_train = high_risk[0:1000]
  return high_risk_train['ROE Binary'].values

Y = to_Y_train_features(low_risk, high_risk)
print(Y.shape, Y)

(983,) [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 0 1 1 0 0 1 0 0 1 1 1 1 1 1 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0
 0 1 1 0 1 1 0 0 1 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 1 1 0 1 0 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 0
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1 0 0
 1 0 1 1 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 0 1 1 1 1 1 1 0
 1 0 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1
 0 0 1 1 0 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 0 1 1 1 0 0 1 0 1 1 1 0 1 1 0 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 0 0 0 1 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 0 1
 0 1 1 1 1 0 1 0 1 1 0 0 1 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1
 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0
 1 1 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 0 1 0 1 0 1
 1 1 1 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1
 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 0 0 1 0 0 0 1 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 1 1 0 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1]

# Build graph

In [22]:
X_tensor = torch.from_numpy(X)
print(type(X), X.shape, X_tensor.size())
Y_tensor = torch.from_numpy(Y).double()
print(type(Y), Y.shape, Y_tensor.size())

<class 'numpy.ndarray'> (983, 6) torch.Size([983, 6])
<class 'numpy.ndarray'> (983,) torch.Size([983])

In [23]:
a = torch.randn((6), requires_grad=True, dtype=torch.double)
b = torch.randn((6), requires_grad=True, dtype=torch.double)
print(a, a.size(), b, b.size())

tensor([ 0.6285,  0.7991, -0.2457,  1.9027,  0.4300, -0.6631],
       dtype=torch.float64, requires_grad=True) torch.Size([6]) tensor([-0.0122, -0.1009,  0.2089, -0.6902, -0.1436, -1.2529],
       dtype=torch.float64, requires_grad=True) torch.Size([6])

In [24]:
lr = 1e-1
n_epochs = 500
torch.manual_seed(42)
lambda1 = 1e-3 #0.5
lambda2 = 1e-3 #0.5

loss_fn = nn.BCELoss()
optimizer = optim.SGD([a, b], lr=lr)

In [25]:
for epoch in range(n_epochs):
  
    yhat = torch.exp(torch.matmul(X_tensor, a)) / (torch.exp (torch.matmul(X_tensor, a)) + torch.exp(torch.matmul(X_tensor, b)))

    loss = loss_fn(yhat, Y_tensor)
    loss.backward()   

    if epoch % 10 == 0:
      print(f"Epoch: {epoch}. Loss: {loss}")

    optimizer.step()
    optimizer.zero_grad()
    
print(a, b)

Epoch: 0. Loss: 0.9908778422957564
Epoch: 10. Loss: 0.6128986133779176
Epoch: 20. Loss: 0.5572870832693047
Epoch: 30. Loss: 0.5359187956961771
Epoch: 40. Loss: 0.5227013053099607
Epoch: 50. Loss: 0.513209205138364
Epoch: 60. Loss: 0.505905391170479
Epoch: 70. Loss: 0.5000277632815253
Epoch: 80. Loss: 0.49513968005396947
Epoch: 90. Loss: 0.4909696498177184
Epoch: 100. Loss: 0.4873387892787602
Epoch: 110. Loss: 0.48412386363594917
Epoch: 120. Loss: 0.48123691670692775
Epoch: 130. Loss: 0.4786133459038819
Epoch: 140. Loss: 0.4762045700760429
Epoch: 150. Loss: 0.47397333292395494
Epoch: 160. Loss: 0.4718905882134059
Epoch: 170. Loss: 0.46993337138786956
Epoch: 180. Loss: 0.46808330703172785
Epoch: 190. Loss: 0.4663255383032119
Epoch: 200. Loss: 0.4646479436863768
Epoch: 210. Loss: 0.46304055389654586
Epoch: 220. Loss: 0.461495111085508
Epoch: 230. Loss: 0.4600047310727756
Epoch: 240. Loss: 0.4585636413929452
Epoch: 250. Loss: 0.4571669759556347
Epoch: 260. Loss: 0.4558106125358032
Epoch: 270. Loss: 0.45449104305135196
Epoch: 280. Loss: 0.4532052692077721
Epoch: 290. Loss: 0.4519507179581544
Epoch: 300. Loss: 0.45072517257707834
Epoch: 310. Loss: 0.4495267161354202
Epoch: 320. Loss: 0.4483536848950578
Epoch: 330. Loss: 0.44720462969038605
Epoch: 340. Loss: 0.4460782837766822
Epoch: 350. Loss: 0.4449735359384621
Epoch: 360. Loss: 0.44388940788703535
Epoch: 370. Loss: 0.4428250351499464
Epoch: 380. Loss: 0.4417796507716259
Epoch: 390. Loss: 0.4407525712004555
Epoch: 400. Loss: 0.4397431837133646
Epoch: 410. Loss: 0.43875093458224157
Epoch: 420. Loss: 0.43777531683178955
Epoch: 430. Loss: 0.43681585571634857
Epoch: 440. Loss: 0.4358720886610225
Epoch: 450. Loss: 0.43494353383683293
Epoch: 460. Loss: 0.4340296367967994
Epoch: 470. Loss: 0.4331296758779385
Epoch: 480. Loss: 0.4322425908619082
Epoch: 490. Loss: 0.43136666837230714
tensor([ 1.5042,  0.5247,  0.3531,  1.1642,  0.0651, -0.6963],
       dtype=torch.float64, requires_grad=True) tensor([-0.8879,  0.1736, -0.3898,  0.0483,  0.2213, -1.2197],
       dtype=torch.float64, requires_grad=True)

# Build efficient frontier

In [31]:
with torch.no_grad():
  y_test = torch.exp(torch.matmul(X_tensor, a)) / (torch.exp (torch.matmul(X_tensor, a)) + torch.exp(torch.matmul(X_tensor, b)))
  print(y_test)

tensor([8.9734e-01, 8.2501e-01, 9.0920e-01, 8.6093e-01, 5.6764e-01, 7.3047e-01,
        8.1278e-01, 7.0853e-01, 7.3952e-01, 7.2666e-01, 9.0630e-01, 7.1277e-01,
        8.8590e-01, 8.7593e-01, 4.5653e-01, 7.9779e-01, 7.3578e-01, 7.1589e-01,
        9.3639e-01, 7.7103e-01, 8.2545e-01, 6.0956e-01, 7.7759e-01, 8.2893e-01,
        8.0743e-01, 7.0435e-01, 8.0796e-01, 8.9453e-01, 7.5351e-01, 8.6420e-01,
        7.8824e-01, 8.0871e-01, 9.1259e-01, 7.6294e-01, 8.6255e-01, 9.0027e-01,
        7.1775e-01, 6.3251e-01, 6.5905e-01, 9.7591e-01, 7.7075e-01, 9.6953e-01,
        9.2160e-01, 4.1970e-01, 8.2353e-01, 7.9180e-01, 7.9691e-01, 8.1848e-01,
        8.1179e-01, 7.1942e-01, 8.1909e-01, 6.3658e-01, 9.5574e-01, 8.1172e-01,
        7.6063e-01, 5.0344e-01, 6.0815e-01, 7.3634e-01, 6.5881e-01, 6.5862e-01,
        3.8312e-01, 3.5506e-01, 8.6312e-01, 9.4027e-01, 7.8660e-01, 9.1756e-01,
        8.0292e-01, 7.4484e-01, 9.0651e-01, 8.8833e-01, 9.4892e-01, 3.7858e-01,
        9.5663e-01, 8.0337e-01, 9.5284e-01, 9.8106e-01, 9.2211e-01, 8.2736e-01,
        6.5968e-01, 9.8479e-01, 7.0837e-01, 8.2458e-01, 7.7507e-01, 9.0125e-01,
        2.0411e-01, 1.4962e-02, 1.0000e+00, 8.5912e-01, 2.7771e-03, 9.9406e-01,
        9.5962e-01, 9.5264e-01, 9.9871e-01, 9.7272e-01, 9.5755e-01, 6.1935e-01,
        5.0301e-01, 7.1467e-01, 9.8263e-01, 9.6364e-01, 1.0735e-01, 1.3410e-01,
        2.2868e-01, 9.9238e-01, 9.9583e-01, 7.0122e-01, 9.6664e-01, 8.2419e-01,
        9.9044e-01, 6.4907e-01, 2.5499e-01, 3.1369e-01, 5.9870e-01, 8.2480e-01,
        3.0740e-01, 7.2958e-01, 9.4058e-01, 1.8777e-01, 3.3947e-02, 9.8785e-01,
        2.0431e-02, 6.7179e-01, 9.6716e-01, 6.2455e-02, 9.3829e-01, 9.9954e-01,
        7.2737e-01, 2.6121e-01, 6.8396e-01, 8.6031e-01, 7.4354e-01, 7.3500e-01,
        1.6509e-01, 5.7521e-01, 7.3203e-01, 5.3544e-01, 4.6398e-01, 2.3146e-01,
        4.2949e-01, 2.8130e-02, 8.1023e-01, 8.6355e-01, 5.1536e-01, 1.6015e-01,
        8.5094e-01, 4.0101e-01, 8.8374e-01, 9.9642e-01, 6.8530e-01, 8.0214e-01,
        8.9226e-01, 9.2590e-01, 8.4739e-01, 6.3851e-01, 7.0530e-01, 8.5988e-01,
        7.0635e-01, 7.0339e-01, 7.6876e-01, 3.9516e-01, 9.6522e-01, 7.6371e-01,
        7.3571e-01, 6.7323e-01, 9.6384e-01, 5.9150e-01, 9.6373e-01, 7.2921e-01,
        7.8009e-01, 9.4931e-01, 7.3745e-01, 9.4802e-01, 8.5238e-01, 8.0444e-01,
        6.1055e-01, 7.5962e-01, 9.3704e-01, 8.9767e-01, 9.6738e-01, 6.9013e-01,
        4.1844e-01, 5.3239e-01, 4.8316e-01, 7.4109e-01, 2.7254e-01, 9.2296e-01,
        6.6059e-01, 9.5991e-01, 2.6897e-01, 8.7964e-01, 9.6519e-01, 8.9682e-01,
        8.1580e-01, 7.2542e-01, 9.8568e-01, 7.6909e-01, 6.1793e-01, 9.6903e-01,
        7.7487e-01, 9.9767e-01, 8.5102e-01, 8.4418e-01, 7.3409e-01, 9.7824e-01,
        8.1169e-01, 4.6217e-01, 4.3664e-01, 8.5278e-01, 6.0395e-01, 9.8523e-01,
        9.4868e-01, 8.3287e-01, 7.6723e-01, 7.5117e-01, 6.1628e-01, 7.6359e-01,
        4.8572e-01, 8.7012e-01, 7.7013e-01, 8.6240e-01, 9.1928e-01, 7.1046e-01,
        7.7782e-01, 7.4868e-01, 6.7593e-01, 8.8733e-01, 8.6674e-01, 6.3551e-01,
        9.0882e-01, 6.0620e-01, 7.7974e-01, 7.4506e-01, 7.3772e-01, 5.1650e-01,
        8.6983e-01, 5.5782e-01, 9.1809e-01, 8.5953e-01, 8.1120e-01, 6.8138e-01,
        4.0935e-01, 9.3397e-01, 8.3324e-01, 9.3347e-01, 6.8065e-01, 6.6356e-01,
        5.1733e-01, 6.3273e-01, 7.9164e-01, 8.8040e-01, 6.6554e-01, 6.7806e-01,
        4.7619e-01, 5.7918e-01, 4.2361e-01, 8.6911e-01, 6.6228e-01, 8.7792e-03,
        3.2346e-01, 8.4619e-01, 4.9621e-01, 9.9284e-01, 7.5895e-01, 1.9835e-01,
        6.4857e-01, 2.1237e-01, 9.8203e-01, 3.6673e-03, 9.7740e-01, 8.5053e-01,
        4.5968e-02, 9.9371e-01, 7.5243e-01, 9.4881e-01, 1.5937e-01, 7.4427e-01,
        8.5691e-01, 9.8370e-01, 6.8819e-01, 5.3819e-01, 3.3158e-02, 4.7196e-01,
        1.2213e-01, 9.9605e-01, 9.7168e-01, 8.6691e-02, 6.0371e-01, 4.8470e-01,
        6.0456e-01, 9.2397e-01, 9.4709e-01, 9.9850e-01, 8.3938e-01, 9.8171e-01,
        6.2017e-01, 1.0559e-02, 9.9885e-01, 4.2718e-02, 9.4229e-01, 1.6654e-01,
        3.4575e-01, 5.4247e-01, 2.7822e-01, 1.4159e-01, 3.3359e-01, 2.5100e-01,
        7.1166e-01, 7.9125e-02, 3.6446e-02, 9.9999e-01, 9.9931e-01, 5.2008e-01,
        8.7868e-01, 9.9531e-01, 1.0690e-01, 9.9856e-01, 9.2116e-01, 6.9746e-01,
        7.5161e-01, 9.6356e-01, 9.0071e-01, 7.7678e-01, 9.7018e-01, 7.1442e-01,
        9.8825e-01, 9.7863e-01, 5.2181e-01, 6.9175e-01, 8.3038e-01, 8.8728e-01,
        9.3296e-01, 8.1244e-01, 9.9744e-01, 9.9491e-01, 8.8808e-01, 9.9014e-01,
        9.3485e-01, 8.3348e-01, 7.8872e-01, 9.7190e-01, 7.5517e-01, 9.2092e-01,
        8.0484e-01, 9.2470e-01, 9.5355e-01, 9.4733e-01, 9.2937e-01, 7.6002e-01,
        9.5537e-01, 5.8243e-01, 7.2326e-01, 8.7739e-01, 7.1298e-01, 8.4936e-01,
        4.5008e-01, 6.9175e-01, 4.7311e-01, 4.8814e-01, 9.5080e-01, 9.9579e-01,
        8.6040e-01, 8.5973e-01, 7.4579e-01, 9.1097e-01, 8.7316e-01, 6.6891e-01,
        7.0390e-01, 9.9628e-01, 1.6270e-01, 8.3681e-01, 7.7242e-01, 4.5952e-01,
        7.8694e-01, 7.8835e-01, 9.3684e-01, 6.3962e-01, 5.1087e-01, 8.0161e-01,
        9.2328e-01, 8.4816e-01, 6.5400e-01, 9.3079e-01, 8.4452e-01, 7.9173e-01,
        5.9918e-01, 5.2482e-01, 2.8143e-01, 7.7159e-01, 8.5358e-01, 9.6389e-01,
        5.2251e-01, 8.2228e-01, 8.7220e-01, 6.8686e-01, 9.1554e-01, 1.7433e-01,
        6.1724e-01, 8.9438e-01, 9.9488e-01, 5.6549e-01, 8.2518e-01, 9.6638e-01,
        9.8567e-01, 6.8763e-01, 9.4788e-01, 9.8955e-01, 9.7209e-01, 9.3196e-01,
        7.9043e-01, 8.6175e-01, 8.0397e-01, 7.6641e-01, 6.1848e-01, 2.4173e-01,
        7.7987e-01, 7.4126e-01, 7.9428e-01, 6.1211e-01, 9.9061e-01, 8.4623e-01,
        9.4730e-01, 9.4997e-01, 7.3308e-01, 3.0275e-01, 8.1167e-01, 8.2410e-01,
        7.4443e-01, 6.4307e-01, 9.2034e-01, 8.7989e-01, 8.9258e-01, 7.2762e-01,
        5.7919e-01, 1.6324e-01, 3.4404e-01, 6.5848e-01, 7.7686e-01, 5.0768e-01,
        8.8746e-01, 9.0448e-01, 8.6249e-01, 6.6125e-01, 9.2868e-01, 8.4549e-01,
        7.2226e-01, 8.0824e-01, 5.3034e-01, 5.0868e-01, 2.0664e-01, 9.3337e-01,
        1.4585e-01, 7.1261e-01, 8.1236e-01, 9.4076e-01, 6.5218e-01, 8.5219e-01,
        6.5188e-01, 7.8290e-01, 1.7803e-01, 3.9864e-01, 6.3454e-01, 2.0131e-01,
        9.6465e-01, 9.9351e-01, 9.9663e-01, 6.8646e-01, 3.2993e-01, 9.9756e-01,
        1.3469e-01, 7.3506e-01, 9.7678e-01, 7.4200e-01, 3.5032e-01, 7.4533e-01,
        5.0522e-01, 3.0814e-02, 8.3882e-01, 1.8703e-01, 9.6062e-01, 8.1467e-01,
        2.9764e-01, 7.1699e-01, 7.7952e-01, 8.9616e-01, 6.5040e-01, 4.8017e-01,
        8.5653e-01, 9.4199e-01, 7.8949e-01, 6.8343e-15, 8.8903e-01, 9.4217e-01,
        9.3176e-01, 8.8433e-01, 6.0998e-01, 8.6650e-01, 2.5179e-01, 9.7327e-01,
        7.6680e-01, 4.4290e-01, 9.0304e-01, 1.3845e-01, 3.9148e-01, 9.8953e-01,
        9.9161e-01, 8.2772e-01, 4.9359e-01, 8.8804e-01, 9.7411e-01, 9.2358e-01,
        8.1576e-01, 9.5855e-01, 8.4692e-01, 7.4273e-01, 6.9480e-01, 8.9991e-01,
        2.4274e-01, 7.9675e-01, 4.5461e-01, 9.2410e-01, 7.1275e-01, 7.3052e-01,
        8.3413e-01, 5.8217e-01, 8.8304e-01, 6.6674e-01, 5.7955e-01, 7.5390e-01,
        8.2516e-01, 8.8014e-01, 8.3894e-01, 7.7936e-01, 9.0488e-01, 8.8916e-01,
        8.9455e-01, 8.4201e-01, 7.4033e-01, 7.3047e-01, 5.3648e-01, 7.2337e-01,
        9.2659e-01, 8.2235e-01, 8.5913e-01, 5.9794e-01, 1.9517e-01, 8.2592e-01,
        8.1300e-01, 6.8070e-01, 8.5553e-01, 5.3114e-01, 6.8438e-01, 8.5856e-01,
        9.8853e-01, 9.0180e-01, 9.0494e-01, 6.6108e-01, 6.8063e-01, 9.3762e-01,
        9.3876e-01, 6.2250e-01, 5.8888e-01, 8.6410e-01, 5.6120e-01, 3.6571e-01,
        9.3058e-01, 8.4432e-01, 9.2153e-01, 9.8377e-01, 6.9502e-01, 9.5618e-01,
        8.3871e-01, 4.3873e-01, 9.2814e-01, 7.7291e-01, 9.1809e-01, 9.2251e-01,
        9.3713e-01, 8.7486e-01, 6.5123e-01, 8.8197e-01, 1.9087e-01, 9.0039e-01,
        9.5451e-01, 4.5582e-01, 9.9089e-01, 5.3912e-02, 9.4970e-01, 8.5451e-01,
        8.9366e-01, 7.5913e-01, 7.4236e-01, 9.8615e-01, 5.9165e-01, 8.0131e-01,
        9.1123e-01, 7.6630e-01, 8.0236e-01, 8.1851e-01, 6.1839e-01, 5.1298e-01,
        8.6199e-01, 6.5527e-04, 4.6088e-01, 3.2952e-02, 1.0000e+00, 1.0000e+00,
        1.1576e-02, 9.9986e-01, 7.0762e-01, 9.9955e-01, 9.8257e-01, 9.9956e-01,
        4.0717e-02, 7.0755e-01, 9.9997e-01, 9.3434e-01, 9.9996e-01, 9.9990e-01,
        9.9426e-01, 4.5399e-04, 4.7607e-02, 1.0000e+00, 9.9241e-01, 1.0000e+00,
        9.9644e-01, 9.9985e-01, 8.4175e-01, 8.6455e-01, 9.9997e-01, 7.5143e-01,
        9.9998e-01, 1.2909e-02, 9.9993e-01, 9.9184e-01, 7.5659e-01, 9.9818e-01,
        9.7657e-01, 9.8539e-01, 9.9614e-01, 9.4960e-01, 6.5278e-01, 9.9388e-01,
        7.5568e-01, 9.8396e-01, 9.8692e-01, 7.1353e-02, 9.8347e-01, 9.6726e-01,
        8.3804e-01, 9.9448e-01, 7.4769e-01, 9.8150e-02, 7.5753e-01, 8.9775e-01,
        9.6460e-01, 3.3123e-03, 9.9931e-02, 9.9912e-01, 9.9318e-01, 9.7180e-01,
        3.1912e-01, 9.0877e-01, 3.8414e-01, 7.5248e-01, 3.1230e-01, 9.5880e-01,
        3.0434e-01, 9.7209e-01, 9.0831e-01, 9.8191e-01, 9.7338e-01, 8.4727e-01,
        9.9333e-01, 9.9552e-01, 8.9153e-01, 3.8745e-01, 1.0841e-03, 2.1222e-01,
        9.9998e-01, 5.3860e-01, 3.8828e-01, 9.6510e-01, 4.1227e-02, 9.6069e-01,
        3.8860e-01, 2.5687e-02, 9.9117e-01, 1.3557e-02, 9.7225e-01, 9.9721e-01,
        9.2651e-01, 3.3571e-01, 7.6732e-01, 3.7000e-01, 9.1788e-01, 2.1901e-01,
        9.7282e-01, 1.9052e-02, 9.9776e-01, 6.4274e-01, 8.2047e-01, 7.4077e-01,
        9.7879e-01, 3.6520e-01, 9.7170e-01, 1.1372e-01, 7.4368e-01, 9.1216e-01,
        4.3434e-01, 9.7532e-01, 9.7050e-01, 9.4397e-01, 8.9596e-01, 9.4263e-01,
        8.4481e-01, 9.8016e-01, 9.3469e-01, 8.5390e-01, 1.0878e-01, 9.4918e-01,
        8.0811e-01, 8.5907e-01, 8.0025e-01, 7.7080e-01, 4.3360e-01, 9.8117e-01,
        9.2326e-01, 8.7698e-01, 9.7097e-01, 9.8572e-01, 8.0809e-01, 9.1964e-01,
        4.0797e-01, 9.7805e-01, 9.8817e-01, 8.8465e-04, 2.6499e-01, 1.7204e-01,
        9.7043e-01, 2.3007e-03, 3.8784e-01, 8.5008e-01, 3.8501e-01, 1.9495e-01,
        9.5381e-01, 5.1746e-02, 8.9299e-01, 9.1630e-01, 9.7137e-04, 9.1272e-01,
        9.9883e-01, 8.5364e-01, 3.0958e-01, 9.9060e-01, 5.2243e-01, 9.4390e-01,
        9.7307e-01, 2.0801e-02, 9.5601e-01, 6.8671e-01, 8.6667e-01, 9.8034e-01,
        2.5845e-01, 1.2211e-01, 9.9058e-01, 5.2682e-01, 5.9236e-03, 7.1962e-01,
        6.3444e-01, 9.1060e-01, 6.6960e-01, 2.4619e-01, 3.7743e-01, 5.5812e-02,
        9.8583e-01, 5.5047e-01, 6.9837e-01, 9.6680e-01, 9.9074e-01, 8.8848e-01,
        8.0586e-01, 1.1136e-03, 8.4871e-01, 6.6994e-01, 1.2142e-01, 9.5508e-01,
        9.0279e-01, 8.0135e-01, 2.4437e-02, 9.0308e-01, 1.9621e-01, 7.6911e-01,
        9.7562e-01, 6.5256e-01, 6.5809e-01, 5.2697e-01, 7.9110e-01, 9.1950e-01,
        8.2250e-01, 9.4384e-01, 7.4946e-01, 9.6292e-01, 1.1153e-01, 9.0817e-01,
        8.9769e-01, 4.7332e-02, 9.7091e-01, 8.6337e-01, 7.9713e-01, 6.8723e-01,
        9.8552e-01, 5.2426e-01, 5.6804e-01, 8.5066e-01, 8.0520e-01, 2.3516e-01,
        6.4773e-01, 9.5514e-01, 1.0236e-02, 9.8384e-01, 9.9631e-01, 9.8108e-01,
        8.7103e-01, 8.9149e-01, 7.8255e-01, 8.9707e-01, 2.5328e-01, 6.0362e-01,
        8.2949e-01, 9.8051e-01, 7.3835e-01, 8.7826e-01, 9.3108e-01, 3.9566e-01,
        4.3373e-01, 9.3679e-01, 2.8362e-02, 9.8805e-01, 9.8886e-01, 7.3039e-01,
        9.9980e-01, 6.6116e-01, 8.8757e-01, 9.6681e-01, 7.6446e-01, 5.6712e-01,
        9.7748e-01, 3.0802e-01, 9.5748e-01, 9.0356e-01, 9.3382e-01, 7.5557e-01,
        9.8989e-01, 9.9863e-01, 5.4923e-03, 2.6786e-01, 9.9644e-01, 1.5423e-01,
        7.9487e-02, 1.4101e-01, 9.9796e-01, 3.0277e-01, 9.5969e-01, 8.4077e-01,
        9.0588e-01, 9.5552e-01, 9.4350e-01, 5.7913e-01, 9.8724e-01, 2.5792e-01,
        7.4475e-01, 9.7458e-01, 3.6495e-01, 7.8676e-02, 9.9208e-01, 9.9866e-01,
        9.5770e-01, 8.7097e-01, 8.9742e-01, 9.7956e-01, 9.8569e-01, 8.5211e-01,
        8.8167e-01, 9.2039e-01, 9.9077e-01, 9.1103e-01, 9.6274e-01, 4.5898e-01,
        9.7780e-01, 9.1051e-01, 8.7793e-01, 6.1297e-01, 9.9846e-01, 2.2859e-01,
        9.9659e-01, 8.7683e-01, 8.1549e-01, 6.8269e-01, 8.8286e-01, 9.3448e-01,
        6.0763e-01, 9.4695e-01, 4.7895e-01, 9.9143e-01, 9.7721e-01, 5.7395e-02,
        9.6062e-01, 3.3638e-02, 9.9416e-01, 9.9559e-01, 9.0694e-01, 1.1823e-01,
        9.9544e-01, 9.8760e-01, 3.7589e-01, 9.3574e-01, 3.4381e-01, 7.1539e-01,
        5.4879e-01, 7.4824e-01, 2.1993e-01, 6.9770e-01, 8.5838e-01, 9.4937e-01,
        6.3531e-01, 7.6758e-01, 3.2999e-01, 9.5911e-01, 7.0335e-01, 7.7727e-01,
        5.5841e-01, 4.3529e-01, 9.1840e-01, 5.0316e-01, 9.9124e-01, 9.7199e-01,
        6.2261e-01, 9.7847e-01, 8.3902e-01, 7.4993e-01, 6.2299e-01, 9.3743e-01,
        9.4002e-01, 9.6395e-01, 6.2871e-01, 8.9267e-01, 9.8766e-01, 9.9498e-01,
        9.5559e-01, 7.6637e-01, 6.9437e-01, 7.7165e-01, 1.2216e-01, 8.2255e-01,
        9.9892e-01, 9.8374e-01, 9.3025e-01, 9.8091e-01, 9.7123e-01, 6.3508e-01,
        7.4900e-01, 9.8441e-01, 8.7109e-01, 9.2523e-01, 9.9993e-01, 9.7257e-01,
        9.5405e-01, 8.7556e-01, 7.7691e-01, 9.4120e-01, 8.2086e-01, 9.1845e-01,
        8.4832e-01, 9.8197e-01, 8.5998e-01, 2.3131e-01, 9.9998e-01, 9.9360e-01,
        9.7806e-01, 8.4331e-01, 8.9731e-01, 3.8798e-01, 9.9998e-01],
       dtype=torch.float64)

## Build MV Portfolio

## Build ML Portfolio

In [33]:
k = 0.5
calculate_ml_portfolio_weights_lambda = lambda x: 0 if x < k else 1
calculate_ml_portfolio_weights = np.vectorize(calculate_ml_portfolio_weights_lambda)
# vfunc(x)
# calculate_ml_portfolio_weights = functorch.vmap(ml_portfolio_weights, out_dims=1)
# forecast = 
# portfolio_weights = calculate_ml_portfolio_weights(y_test.numpy())
# print(portfolio_weights)

portfolio_weights = y_test.apply_(calculate_ml_portfolio_weights_lambda)
print(portfolio_weights)

tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 1.,
        1., 1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1.,
        1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1., 0.,
        1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1.,
        0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
        1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 0., 1.,
        0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0.,
        1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1.,
        1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1.,
        0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
        1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 0., 1.,
        0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1.,
        1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0.,
        1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
        1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
        1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1.], dtype=torch.float64)